{% set filter_is_active = false %}
{% for agg in aggregations %}
    {% if ( agg.value in filters) %}
        {% set filter_is_active = true %}
    {% endif %}
{% endfor %}
<div class="form-group ">
    <span>{{ filter.name | translate }}</span>

    <div class="all hidden ">
        {% for agg in aggregations %}
            <a href="{{ agg.query_string }}" data-without-query="{{ agg.without_qs }}" class="{% if filter.box %}checkbox {% else %}checkbox color-size{% endif %} {% if filter.full %} full {% endif %}input {% if ( agg.value in filters or agg.value_star in filters) %}selected{% endif %}" data-value="{{ agg.value }}" data-real-value="{{ agg.name }}" data-name="filters[]" {% if ( agg.value in filters or agg.value_star in filters) %}data-is-selected="1"{% endif %}>

                    {% if filter.box %}
                <label>
                        <div class="icbtn" style="position: relative;"></div>
                    {% else %}
                    <label class="checkbox-label">
                        <div class=" new-checkbox" style="position: relative;">  <input type="checkbox"></div>
                    {% endif %}
                    {{ agg.name | translate | raw }}
                </label>
            </a>
        {% endfor %}
    </div>
</div>
