{% if config('env.gtm') %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{ config('env.gtm.accountId') }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
<header class="site-header lazy login">
    {% if login_as_customer_message is defined and login_as_customer_message == 1 %}
        <div style="text-align: center; display: none;" id="login-as-customer-message">Kullanıcı Adına Yönetici Tarafından Giriş Yapılımştır!</div>
    {% endif %}
    {% if header_bant is not empty %}
    <a href="{{ header_bant.link }}">
        {{ img(header_bant.image_desktop, '', {width:'100%',height:'60px', cdn: 'general' }) }}
    </a>
    {% endif %}
    <div class="main-menu">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <a href="/" class="logo">
                    <img src="/pub/assets/lumberjack/images/lumberjack-logo.png" alt="FLO">
                </a>
                <div class="menu-right">
                        {{ widget('general','top_menu', { search_query: search_query }) }}
                    {{ menuHtml|raw }}
                </div>
            </div>
        </div>
    </div>
</header>
{# <main> #}
