<input type="hidden" class="widget_params" name="widget_params"
       value="manufacturer_id={{ manufacturer_id }}&category_id={{ category_id }}&gender_general={{ gender_general }}&special_price={{ special_price }}&q={{ q }}&sort={{ active_sorting }}&request_url={{ request_url }}"/>
{% if load_more %}
<div class="products-wrapper clearfix">
    <a href="#" data-page-no="{{ current_page }}" style="display:block;float:left;"></a>
    {% set products_count = products|length %}
    {% for product in products %}
        <div class="product-container pa {% if gorunum=='2' %} mc-md-6 mc-xs-12
{% else %} mc-md-4 mc-xs-6
{% endif %}">
            {{ include('widgets/products/_element/list', {product: product,free_shipping_limit:free_shipping_limit,season_options: season_options,categoryId: category_id,manufacturerId: manufacturer_id,gender: gender_general,query: q}) }}
        </div>

        {% if loop.index == (products_count * 4 / 5)|round(0, 'ceil') %}
            <div class="commerce-load-more-button"  data-page-no="{{ current_page + 1 }}" data-params="page={{ current_page + 1 }}"></div>
        {% endif %}
    {% endfor %}

    {{ widget('datalayer', q is empty ? 'category_scroll' : 'search_scroll', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q }} ) }}
</div>
{% else %}
    <div class="page long-header">
        {# <div class="top-to">
            <img src="/pub/assets/instreet/mobile/images/backto.jpg" alt="">
        </div> #}
        <div class="container-fluid">
            {% if total_count==0 %}
            <div class="whitepage not-found">
                <p><strong>{{ q }}</strong>&nbsp;{{ 'ile ilgili sonuç bulunamamıştır.' | translate }}</p>
            </div>
            {% else %}
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="/">
                            <img src="/pub/assets/instreet/images/home.png">
                        </a>
                    </li>
                    {% for cat in mob_breadcrumb %}
                        <li>
                            <a href="/{{ cat.url }}{{ cat.query_string }}"
                               class="{% if cat.selected==1 %} active{% endif %}">{{ cat.name | translate | upper_tr }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="right">
                    <span>{{ total_count }} {{ 'Ürün Var' | translate }}</span>
                </div>
            </div>
            <div class="page-content">
                <div class="product-list">

                    <form id="commerce-product-list">
                        <div class="h1_silider">
                            <h1 class="h1_label">{{ registry('head_one')|default('INSTREET') }}</h1>
                        </div>
                        {# <div class="right">
                            <span>{{ total_count }} {{ 'Ürün Var' | translate }}</span>
                        </div> #}
                        <div class="filter">
                            <div class="filt">
                                <div class="mc-md-4 mc-xs-4 pa">
                                    <button class="toggle-box" onclick="filt()">{{ 'FİLTRELE' |translate }}</button>
                                    <div class="filter-box category_filters">
                                        <div class="box">
                                            <div class="top-filt">
                                                <div class="top-title back-filt" onclick="subFilt()"><img
                                                            src="/pub/assets/instreet/mobile/images/ic_keyboard_arrow_right_24px.svg"
                                                            alt="">
                                                </div>
                                                <div class="top-title">Filtrele</div>
                                                {% if active_filters %}
                                                    <div class="top-title remove-filter-all">
                                                        <ins>x</ins>
                                                        Temizle
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% if active_filters %}
                                                <div class="active-box">
                                                    <ol>
                                                        {% for filter in active_filters %}
                                                            <li class="active-filters">
                                                                <a class="remove-filter" href="javascript:void(0);"
                                                                   data-filter-value="{{ filter.value }}">
                                                                    <i class="closes"></i>
                                                                </a>
                                                                <em>{{ filter.name }}</em>
                                                            </li>
                                                        {% endfor %}
                                                    </ol>
                                                </div>
                                            {% endif %}

                                            <div class="form " id="filters">
                                                {% for aggregation in aggregation_orders %}
                                                    {% if aggregations[aggregation.alias] %}
                                                        {{ include("widgets/products/_filters/" ~ aggregation.type, { aggregations: aggregations[aggregation.alias], filter: aggregation, filters: filters}) }}
                                                    {% endif %}
                                                {% endfor %}

                                                <div class="submit" onclick="subFilt()">
                                                    <button class="apply-button">{{ 'UYGULA' |translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mc-md-4 mc-xs-4 pa">
                                    <button class="toggle-box">{{ 'SIRALA' |translate }}</button>
                                    <div id="commerce-sort-order-container" class="select">
                                        <!--    <input id="commerce-sort-order" type="hidden" name="sort" value=""> -->
                                        <ul>
                                            {% for sorting in sorting_options %}
                                                <li>
                                                    <a class="commerce-sort-order" href="#"
                                                       data-sort="{{ sorting.key }}">{{ sorting.value | translate }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="mc-md-4 mc-xs-4 pa">
                                    <button value="1" class="gorunum">{{ 'GÖRÜNÜM' |translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="lest-as">
                            <div class="list product-lists one commerce-load-more">
                                {% set products_count = products|length %}
                                <div class="products-wrapper clearfix">
                                    {% if current_page == 1 %}
                                        <a href="#" data-page-no="{{ current_page }}"
                                           style="display:block;float:left;"></a>
                                    {% endif %}
                                {% for product in products %}
                                    {% if (products|length > limit) and ((loop.index % limit) == 0) %}
                                        <a href="#" data-page-no="{{ (loop.index / limit)|round + 1 }}"
                                           style="display:block;float:left;"></a>
                                    {% endif %}
                                    <div class="product-container pa mc-md-4 mc-xs-6">
                                        {{ include('widgets/products/_element/list', {product: product,free_shipping_limit:free_shipping_limit,season_options: season_options,categoryId: category_id,manufacturerId: manufacturer_id,gender: gender_general,query: q}) }}
                                    </div>

                                    {% if loop.index == (products_count * 4 / 5)|round(0, 'ceil') %}
                                        <a class="commerce-load-more-button"
                                           data-params="page={{ current_page + 1 }}"   data-page-no="{{ current_page + 1 }}"></a>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
			{% endif %}
        </div>
    </div>
    {{ widget('datalayer', q is empty ? 'category' : 'search', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q }} ) }}

<script type="application/ld+json"> 
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{% for item in breadcrumb %}
		{
			"@type": "ListItem",
			"position": {{ loop.index }},
			"item": {
				"@id": "{{ config('env.webservice.url.web') }}{{ item.url }}", "name ": "{{ item.name }}"
			}
		}{% if loop.last != true %},{% endif %}
		{% endfor %}
	]
}
</script>

{% endif %}
{# {% if(footer_desc is not empty) %}
    <div class="container-fluid">
        <div class="mobile-footer-description">{{ footer_desc | raw }}</div>
    </div>
{% endif %} #}

