<div class="page">
    <div class="container-fluid">
        <div class="basket-page checkout-payment ins-checkout-payment">

            <div class="mc-md-9 mc-sm-12 pa">
                {{ widget('checkout', 'payment') }}

                <div class="whitepage">
					<span class="agreement-title">{{ 'Mesafeli Satış Sözleşmesi' | translate }}</span>	
                    <div class="content">
                        <div class="item-sss">
                            {{ widget('checkout', 'agreement1') }}
                        </div>
                    </div>
                </div>
                <div class="whitepage">
					<span class="agreement-title">{{ 'Ön Bilgilendirme Formu' | translate }}</span>	
                    <div class="content">
                        <div class="item-sss">
                            {{ widget('checkout', 'agreement2') }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="mc-md-3 mc-sm-12 pa basket-container">
                {{ widget('basket', 'sidebar', {'next_url': '/checkout/success'}) }}
            </div>
        </div>
    </div>
</div>