<div class="my-basket">
    <div class="basket-list">
        <div class="step">
            <ul>
                <li class="okey"><i>{{ 'SEPET' | translate }}</i></li>
                <li><i>{{ 'ADRES' | translate }}</i></li>
                <li><i>{{ 'ÖDEME' | translate }}</i></li>
            </ul>
        </div>
        <div class="basket-detail">
            <div class="adim2">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">{{ 'GİRİŞ YAP' | translate }}</a></li>
                    <li><a data-toggle="tab" href="#menu1">{{ 'ÜYE OL' | translate }}</a></li>
                    <li><a data-toggle="tab" href="#menu2">{{ 'ÜYE OLMADAN DEVAM ET' | translate }}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form online">
                            <form id="customer-login-form" action="#" data-redirect-url="/checkout/address"  method="POST">
                                <div class="brd">
                                    <div class="all">
                                        <div class="form-group">
                                            <em>{{ 'E-POSTA ADRESİNİZ' | translate }} *</em>
                                            <input name="username" type="text" class="validate[required]">
                                        </div>
                                        <div class="form-group">
                                            <em>{{ 'ŞİFRENİZ' | translate }}*</em>
                                            <input name="password" type="password" class="validate[required]">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <a class="sfru" href="/customer/reset">{{ 'ŞİFREMİ UNUTTUM' | translate }}</a>
                                            </div>
                                        </div>
                                        <div class="submit">
                                            <button type="submit" value="GİRİŞ YAP"/>{{ 'GİRİŞ YAP' | translate }}</button>
                                            <a class="facebook-login" href="#">{{ 'FACEBOOK İLE BAĞLAN' | translate }}</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="menu1" class="two tab-pane fade">
                        <div class="form online">
                            <form id="customer-register-form" action="#" data-redirect-url="/checkout/address"  method="POST">
                                <div class="brd">
                                <div class="form-group">
                                    <em>{{ 'ADINIZ' | translate }}*</em>
                                    <input name="first_name" type="text" class="validate[required] input_ucfirst"
                                           placeholder="">
                                </div>
                                <div class="form-group">
                                    <em>{{ 'SOYADINIZ' | translate }} *</em>
                                    <input name="last_name" type="text" class="validate[required] input_ucfirst"
                                           placeholder="">
                                </div>
                                <div class="form-group">
                                    <em>{{ 'E-POSTA ADRESİ' | translate }}*</em>
                                    <input name="email" type="text" class="validate[required,custom[email]]" placeholder="">
                                </div>
                                <div class="form-group">
                                    <em>{{ 'TELEFON NUMARASI' | translate }} *</em>
                                    <input name="phone" type="tel" class="validate[required]" placeholder="">
                                </div>
                                <div class="form-group pass">
                                    <em>{{ 'ŞİFRENİZ' | translate }}*</em>
                                    <input name="password" type="password" class="validate[required]" placeholder="">
                                </div>
                                <div class="form-group date-select hidden">
                                    <em>{{ 'DOĞUM TARİHİNİZ ' | translate }}*</em>
                                    <select style="display: none;" name="dob_day">
                                        <option value="day">{{ 'GÜN' | translate }}</option>
                                        {% for i in 1..31 %}
                                            <option value="{{ "%02d"|format(i) }}">{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                    <select style="display: none;" name="dob_month">
                                        <option value="month">{{ 'AY' | translate }}</option>
                                        {% for i in 1..12 %}
                                            <option value="{{ "%02d"|format(i) }}">{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                    <select style="display: none;" name="dob_year">
                                        <option value="year">{{ 'YIL' | translate }}</option>
                                        {% for i in 'now'|date('Y')..1900 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group date-select">
                                    <em>{{ 'CİNSİYETİNİZ' | translate }} *</em>
                                    <div class="checkboxa new-radio">
                                        <label>
                                            <input type="radio" value="1" name="gender" checked>{{ 'KADIN' | translate }}
                                        </label>
                                        <label>
                                            <input type="radio" value="2" name="gender" checked>{{ 'ERKEK' | translate }}
                                        </label>
                                    </div>
                                </div>
                                <div class="note">* {{ 'Yıldızlı alanların girişi zorunludur.' | translate }}</div>
                                <div class="form-group adim2lastcheck">
                                    <div class="checkbox">
                                        {% for aggrement in aggrements %}
                                            <label>
                                                <div class="icheckbox_square_gold new-checkbox">
                                                    <input type="checkbox" autocomplete="off" name="{{ aggrement.alias }}" value="{{ aggrement.aggrement_id }}" class="{{ aggrement.alias }} {{ aggrement.alias =='uyelik_sozlesmesi' ? 'validate[required]' : '' }}">
                                                </div>
                                                {{ aggrement.front_text|raw }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="submit">
                                    <button type="submit" class="register-submit">{{ 'ÜYE OL' | translate }}</button>
                                    <a class="facebook-login" href="#">{{ 'FACEBOOK İLE ÜYE OL' | translate }}</a>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="menu2" class="three tab-pane fade">
                        <div class="form online">
                            <form id="guest-form" action="#" data-redirect-url="/checkout/address">
                                <div class="brd">
                                    <div class="form-group">
                                        <input type="text" class="validate[required]" name="firstname" placeholder="">
                                        <em>{{  'ADINIZ' | translate }} *</em>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="validate[required]" placeholder="" name="lastname">
                                        <em>{{  'SOYADINIZ' | translate }} *</em>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="validate[required,custom[email]]" name="email" placeholder="">
                                        <em>{{  'E-POSTA ADRESİ' | translate }} *</em>
                                    </div>
                                    <div class="note">* {{ 'Yıldızlı alanların girişi zorunludur.' | translate }}</div>
                                    <div class="submit">
                                        <button  type="submit">{{ 'ÜYE OLMADAN DEVAM ET' | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ widget('social', 'facebook') }}
