<div class="account-page-wrapper mt-3">
    <div class="container">
        <div class="row medium-gutter">
            <div class="col-sm-3">
                {{ widget('customer', 'account_left_menu') }}
            </div>
            <div class="col-sm-9">
                <div class="breadcrumbs-bar title-only">
                    <div class="left-nav">
                        <a href="/" class="go-back-link"><i class="fas fa-angle-left"></i>Geri Dön</a>
                    </div>
                    <div class="page-title">
                        <h1>YARDIM</h1>
                    </div>
                </div>
                <div class="bg-white p-3 mb-3">
                    {% if ticket.list %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="text-left">{{ 'TALEP NO' | translate }}</th>
                                <th class="text-left">{{ 'KONU' | translate }}</th>
                                <th class="text-left">{{ 'SON CEVAP TARİHİ' | translate }}</th>
                                <th class="text-left">{{ 'TALEP TARİHİ' | translate }}</th>
                                <th class="text-left">{{ 'DURUMU' | translate }}</th>
                                <th class="text-left">{{ 'İŞLEM' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in ticket.list %}
                                <tr>
                                    <td>{{ row.screenId }}</td>
                                    <td>{{ row.subject }}</td>
                                    <td>{% if row.yanit_sayisi > 1 %}
                                            {{ row.lastReplyTime | date('d.m.Y H:i')}}
                                        {% endif %}
                                    </td>
                                    <td>{{ row.createTime | date('d.m.Y H:i') }}</td>
                                    <td>{{ row.statusLabel }}</td>


                                    <td>
                                        <a href="/ticket/detail?ticket_id={{ row.ticketId }}" >{{ 'DETAY' | translate }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <a href="/ticket/new" class="btn orange">Yeni Talep Oluştur <i class="svg-order-detail svg-order-detail-dims"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>