<div class="alls">
    <div class="fav">
        <a href="javascript:void(0);" class="add-wishlist" data-product-id="{{ product.id }}"
           data-sku="{{ product.sku }}"></a>
    </div>

    {#<div class="water-ico">#}
    {#<img src="/pub/assets/instreet/images/water.jpg" class="resimatt" alt="">#}
    {#</div>#}
    <div class="images lazy">
        <a href="{{ product.url }}" {% if isSpotlight == true %}class="spotlightItem"
           data-spotlight-id="{{ product.id }}"{% endif %}>
            <img data-src="{{ product.image|resize('250x250') }}"
                 src="/pub/media/lazyloading/blank.png" class="resimatt" alt="">
        </a>
    </div>
    <div class="text">
        <div class="type-list">
            <ul>
                {% if product.season in season_options %}
                    <li class="active">{{ 'Yeni' | translate }}</li>
                {% endif %}
                {% if product.special_price %}
                    {% set indirim_orani = (((product.price - product.filter_price)/ product.price) * 100) | number_format(0, '.', ',') %}
                    <li>%{{ '%s İndirim' | translate | format( indirim_orani ) }} </li>
                {% endif %}

                {% if  product.third_price is not empty and  product.third_price > free_shipping_limit %}
                    <li class="active">{{ 'Kargo Bedava' | translate }}</li>
                {% elseif product.third_price is empty and product.filter_price > free_shipping_limit %}
                    <li class="active">{{ 'Kargo Bedava' | translate }}</li>
                {% endif %}
            </ul>
        </div>
        <a href="{{ product.url }}" {% if isSpotlight == true %}class="spotlightItem"
           data-spotlight-id="{{ product.id }}"{% endif %}>
            <span>{{ product.manufacturer }}</span>
            <p>{{ product.name }}</p>
            <div class="money">
                {% if product.special_price %}
                    <i class="prev">{{ product.price|price }}</i>
                {% endif %}
                <i class="next">{{ product|price }}</i>

				{% if product.rule_info %}
					<div class="basket-discount">
						<div class="discount-rate">
							{% for key,info in product.rule_info %}
								{% if key == 0 %}
									{{ info['label'] }}
								{% endif %}
							{% endfor %}</div>
						{% if product.third_price %}<i class="next">{{ product.third_price|price }}</i>  {% endif %}
					</div>
				{% endif %}
            </div>
        </a>
    </div>
</div>