<main role="main">
    <div class="landing-page-wrapper turuncu-page-wrapper">
        <div class="landing-top-slider">
            <div class="lazy  ">
                <div class="">

                    <img src="/pub/assets/flo/images/turuncuslider.png" class="d-none d-sm-block">
                    <img src="/pub/assets/flo/images/turuncumob.png" class="d-block d-sm-none ">
                </div>

            </div>
        </div>
        <div class="container-fluid comfort">
            <div class="container">
                <div class="row reverse ">
                    <div class="col-md-6">

                        <div class="comfort-desc"><b>"Çocuklar için birlikte adım atalım"</b><br> sloganıyla
                            başlattığımız Turuncu Bağcık projesi, ilkokul çağındaki ihtiyaç sahibi çocuklarımıza yeni
                            bir çift ayakkabı sağlayan bir dayanışma kampanyasıdır.<br><br>
                            Satın alacağınız <b>Turuncu bağcıklarla</b> oluşturulan kaynak <b>Flo'</b> nun katkılarıyla iki katına çıkarılacak, Türk Kızılayı aracılığıyla ihtiyaç
                            sahibi çocuklara ulaştırılacaktır.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-container">
                            <!-- Video -->

                            <iframe width="560" height="315" src="{{ list.video_url }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <!-- Video Controls -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row sayac">
                <div class="col-2 d-sm-none"></div>
                <div class="col-md-6 col-8">
                    <div class="sold"><p>Bugüne kadar</p>
                        <div class="sayac-bck">
                            <div class="list-box">
                                <div class="box">{{ list.counter |slice(0,1) }}</div>
                                <div class="box">{{ list.counter |slice(1,1) }}</div>
                                <div class="box">{{ list.counter |slice(2,1) }}</div>
                                <div class="box">{{ list.counter |slice(3,1) }}</div>
                                <div class="box">{{ list.counter |slice(4,1) }}</div>
                                <div class="box">{{ list.counter |slice(5,1) }}</div>
                            </div>
                        </div>
                        <p>adet <b>Turuncu Bağcık'a</b> ulaşıldı</p></div>
                    <p class="support">Desteğiniz için teşekkürler</p></div>
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-1 d-sm-none"></div>
                        <div class="col-md-6 col-5"><img src="/pub/assets/flo/images/turuncu-shoes.png"></div>
                        <div class="col-md-6 col-5">
                            <div class="buy">
                                <div class="buy-text"><p class="one-qty">1 adet</p>
                                    <p class="one-qty trn-bgck ">Turuncu bağcık</p></div>
                                <div class="buy-price">
                                    <span>5</span>
                                    <span class="tl-symbol">₺</span>
                                </div>
                                <button>
                                    <a href="https://www.flo.com.tr/urun/flo-turuncu-bagcik-turuncu-unisex-bagcik-100351164"
                                       style="color:#fff;">Hemen al </a></button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row child">
                <div class="col-md-4 col-4"><img src="/pub/assets/flo/images/child-money.png">
                    <p>Elde edilen gelir</p>
                     <p>FLO'nun katkılarıyla 2 katına çıkarıldı.</p></div>
                <div class="col-md-4 col-4"><img src="/pub/assets/flo/images/child-number.png">
                    <p class="child-bold">{{ list.number_of_children }}</p>
                    <p>çocuğa ulaştırıldı</p></div>
                <div class="col-md-4 col-4"><img src="/pub/assets/flo/images/child-shoes.png">
                    <p>Hedefimiz</p>
                    <p class="child-bold">{{ list.sent_money  }}</p>
                    <p>turuncu bağcık</p></div>

            </div>

        </div>
        <div class="trnc-bck">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-6">
                        <h3>FLO MAĞAZACILIK <span>OLARAK</span> "ÇOCUKLAR İÇİN BİRLİKTE ADIM ATALIM"
                            <span>ÇAĞRISIYLA</span></h3>
                    </div>
                    <div class="col-md-6 col-6"><img src="/pub/assets/flo/images/turuncu_alt.png"/></div>
                    <div class="col-md-6 col-12">
                        <div class="trnc-text">İlkokul çağındaki ihtiyaç sahibi çocuklarımızın soğuk kış aylarında yeni
                            bir çift ayakkabı ile okullarına daha mutlu gitmelerini sağlamak amacıyla duyarlı ve
                            dayanışmacı insanlarımızı harekete geçiriyoruz. <br> Diyoruz ki: "<b>Gelin, FLO
                                Mağazalarımız
                                veya e-ticaret platformumuz www.flo.com.tr ’den Turuncu Bağcıklarımızı 5TL’ye satın
                                alın</b> Gönlünüzden koptuğunca alacağınız Turuncu Bağcıklardan elde edilen gelirle
                            ihtiyacı olan çocuklarımız için bir kaynak yaratalım. FLO Mağazacılık olarak; sizlerden
                            gelen desteği daha da büyütmek için yaratılan kaynak kadar bizler de katkıda bulunalım. Hep
                            birlikte ortaya çıkartacağımız bu kaynakla ihtiyaç sahibi çocuklarımıza FLO standartlarında
                            yeni ayakkabılar üreteceğiz ve onların kendilerini daha mutlu hissetmeleri için katkıda
                            bulunmuş olacağız. <br>
                            150 yıldır daima ihtiyaç sahiplerinin yardımına koşan KIZILAY proje ortağımız. İhtiyaç
                            sahibi çocuklara ulaşmamızı ve ayakkabıların dağıtımını KIZILAY sağlayacak.
                            <br>
                            <b>Turuncu Bağcık</b> dayanışmanın bir sembolü, birlikten kuvvet doğar atasözünün güzel bir
                            örneği. Gelin hep birlikte bunun bir parçası olalım!
                            <br>
                            <div class="d-sm-none mobile-trnc-bottom">GELİN TURUNCU BAĞCIK KAMPANYASI İLE BİRLİKTE ADIM
                                ATALIM VE ÇOCUKLARIMIZIN AYAKLARINA BİR ÇİFT AYAKKABI OLALIM.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-content">
            <div class="container">
                <div class="holder">
                    <b>Ayakkabı</b> Özenerek seçtiğiniz kıyafeti tamamlayan en güzel ve en dikkat çekici detay .Aslında
                    bir ihtiyaçtan ziyade kendinizi şımartmanın en fonksiyonel yolu.Neden ihtiyacınız olan ayakkabının
                    en güzeline ve
                    rahatına sahip olmayasanız ki! FLO ayakkabı seçiminizi kolaylaştıracak uygun fiyatlı ve kaliteli
                    modelleriyle sizi bekliyor.<br>
                    Doğru model ve renkte ayakkabı seçimiyle tüm gözlerin üzerinize çevrilmesini sağlayablir ve
                    girdiğiniz her ortamın yıldızı olablirsiniz.FLO ayakkabı seçiminizi kolaylaştracak pek çok seçeneği
                    sizlere sunarken kalite ve uygun fiyat
                </div>
                <div class="text-center"><a href="javascript:;" class="read-more"><i
                                class="svg-arrow-up svg-arrow-up-dims"></i><span>DEVAMI</span><i
                                class="svg-arrow-down svg-arrow-down-dims"></i></a></div>
            </div>
        </div>
    </div>
</main>
