<style type="text/css">
    /* Line styles */

    .wu-line, .wu-line > span {
        line-height: 160%;
    }

    .wu-line.wu-right {
        text-align: right;
    }

    .wu-line.wu-center {
        text-align: center;
    }

    .wu-line.wu-justify {
        text-align: justify;
    }

    /* Line spacing */

    .wu-line_spacing_05, .wu-line_spacing_05 > span {
        line-height: 50%;
    }

    .wu-line_spacing_06, .wu-line_spacing_06 > span {
        line-height: 60%;
    }

    .wu-line_spacing_07, .wu-line_spacing_07 > span {
        line-height: 70%;
    }

    .wu-line_spacing_08, .wu-line_spacing_08 > span {
        line-height: 80%;
    }

    .wu-line_spacing_09, .wu-line_spacing_09 > span {
        line-height: 90%;
    }

    .wu-line_spacing_10, .wu-line_spacing_10 > span {
        line-height: 100%;
    }

    .wu-line_spacing_11, .wu-line_spacing_11 > span {
        line-height: 110%;
    }

    .wu-line_spacing_12, .wu-line_spacing_12 > span {
        line-height: 120%;
    }

    .wu-line_spacing_13, .wu-line_spacing_13 > span {
        line-height: 130%;
    }

    .wu-line_spacing_14, .wu-line_spacing_14 > span {
        line-height: 140%;
    }

    .wu-line_spacing_15, .wu-line_spacing_15 > span {
        line-height: 150%;
    }

    .wu-line_spacing_16, .wu-line_spacing_16 > span {
        line-height: 160%;
    }

    .wu-line_spacing_17, .wu-line_spacing_17 > span {
        line-height: 170%;
    }

    .wu-line_spacing_18, .wu-line_spacing_18 > span {
        line-height: 180%;
    }

    .wu-line_spacing_19, .wu-line_spacing_19 > span {
        line-height: 190%;
    }

    .wu-line_spacing_20, .wu-line_spacing_20 > span {
        line-height: 200%;
    }

    /* Lists */

    .wu-disc, .wu-square {
        display: list-item;
        list-style: inside;
    }

    .wu-lower-alpha, .wu-lower-roman, .wu-lower-roman, .wu-upper-alpha, .wu-upper-roman {
        display: block;
    }

    .wu-disc {
        list-style-type: disc;
    }

    .wu-lower-alpha:before {
        counter-increment: item;
        content: counter(item, lower-alpha) ". "
    }

    .wu-lower-roman:before {
        counter-increment: item;
        content: counter(item, lower-roman) ". "
    }

    .wu-square {
        list-style-type: square;
    }

    .wu-upper-alpha:before {
        counter-increment: item;
        content: counter(item, upper-alpha) ". "
    }

    .wu-upper-roman:before {
        counter-increment: item;
        content: counter(item, upper-roman) ". "
    }

    .wu-ordered {
        display: block;
    }

    .wu-ordered:before {
        counter-increment: item;
        content: counter(item) ". "
    }

    .wu-reset-counter {
        counter-reset: item;
    }

    /* Heading */

    .wu-line.wu-heading1, .wu-line.wu-heading1 span {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 135%;
    }

    .wu-line.wu-heading2, .wu-line.wu-heading2 span {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 130%;
    }

    .wu-line.wu-heading3, .wu-line.wu-heading3 span {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 125%;
    }

    .wu-line.wu-heading4, .wu-line.wu-heading4 span {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 120%;
    }

    .wu-line.wu-heading5, .wu-line.wu-heading5 span {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 115%;
    }

    .wu-line.wu-heading6, .wu-line.wu-heading6 span {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 110%;
    }

    .wu-line.wu-heading1 span, .wu-line.wu-heading2 span, .wu-line.wu-heading3 span, .wu-line.wu-heading4 span, .wu-line.wu-heading5 span, .wu-line.wu-heading6 span {
        display: inline-block;
    }

    /* Text styles */

    .wu-text.wu-bold {
        font-weight: bold;
    }

    .wu-text.wu-underline {
        text-decoration: underline;
    }

    .wu-text.wu-italic {
        font-style: italic;
    }

    .wu-text.wu-strikethrough {
        text-decoration: line-through;
    }

    body {
        margin: 0;
    }

    div.editor {
        word-wrap: break-word;
        font-size: 16px;
        font-family: Arial;
        line-height: 120%;
        padding: 3px
    }

    div.editor span {
        font-size: 16px;
        font-family: Arial;
    }
    .nbe  strong{
        font-weight: bold;
    }

</style>
<div class="nbe editor">
    <div class="wu-root">
        <div class="wu-line"><span class="wu-text wu-bold"> MADDE 1 - SATICI VE ÜRÜN BİLGİLERİ</span><br></div>
        <div class="wu-line"><span class="wu-text"><strong>Unvanı:</strong> FLO Mağazacılık ve Pazarlama A.Ş. (kısaca "FLO" olarak anılacaktır)</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"><strong>Merkez Adresi :</strong> Taşocağı Caddesi No: 24 Bağcılar 34217 İstanbul / Türkiye</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"><strong>Mersis No :</strong> 0388023942900019</span><br></div>
        <div class="wu-line"><span class="wu-text"><strong>Telefon :</strong> 0 212 446 22 88 </span><br></div>
        <div class="wu-line"><span class="wu-text"><strong>Faks:</strong> 0 212 446 22 55</span><br></div>
        <div class="wu-line"><span class="wu-text"><strong>Eposta:</strong>mh@ninewest.com.tr</span><br></div>
        <div class="wu-line"><span class="wu-text"><strong>Şikayet Hattı:</strong> 0 850 460 69 78</span><span class="wu-text">
</span><br></div>
        <div class="wu-line"><span class="wu-text wu-bold">MADDE 2 - SATIŞA KONU MALIN TEMEL ÖZELLİKLERİ</span><span
                    class="wu-text"> </span><br></div>
        <div class="wu-line"><span class="wu-text">Satışı yapılacak Ürünün özellikleri, fiyatı ve diğer bilgiler şu şekildedir;</span><br>
        </div>
        <table class="table" align="left" cellpadding="0" width="100%">
            <tbody>
            <tr>
                <td>
                    <p><strong>{{ 'Urun Adi' | translate }} </strong></p>
                </td>
                <td width="40">
                    <p><strong>{{ 'Adet' | translate }}</strong></p>
                </td>
                <td width="100">
                    {{ '<p><strong>Satis Bedeli <br></strong>(KDV dahil toplam)</p>' | translate | raw }}

                </td>
            </tr>
            {% for item in basket.items %}
                <tr class="say">
                    <td>
                        <p>{{ item.name }}</p>
                    </td>
                    <td>{{ item.qty }}</td>
                    <td>
                        <p>{{ item.row_total_incl_tax | number_format(2) }} {{ basket.base_currency_code }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ widget('basket','mini_cart_detail',{ basket : basket, cash_on_delivery_fee: cash_on_delivery_fee}) }}
        <div class="wu-line"><span
                    class="wu-text">ALICI Tarafından Karşılanacak Diğer Masraflar:&nbsp;Kargo Bedeli</span><span
                    class="wu-text">
</span><br></div>
        <div class="wu-line"><span class="wu-text wu-bold">MADDE 3 - KONU:</span><br></div>
        <div class="wu-line"><span class="wu-text">İşbu Ön Bilgilendirme Formu'nun ("Form") konusu aşağıda nitelik ve satış fiyatı belirtilen Ürünlerin satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkında Kanun ve 27 Kasım 2014 tarihli ve 29188 sayılı Resmi Gazete'de yayımlanan Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince bilgilendirilmesidir.</span>        </div>
        <div class="wu-line"><span class="wu-text"> MADDE 4 - &nbsp;ÖDEME ARAÇLARI:&nbsp;</span><br></div>
        <div class="wu-line"><span class="wu-text">Ödemeler <a href="https://www.ninewest.com.tr/page?url=sss-desktop">https://www.ninewest.com.tr/page?url=sss-desktop</a> linkinde "ÖDEME" başlığında belirtilen ödeme araçları ile yapılabilmektedir.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">MADDE 5 - &nbsp;GÖNDERİM KISITLAMALARI:&nbsp;</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">5.1</span><span
                    class="wu-text">. Gönderim kısıtlamaları hakkında bilgi almak için lütfen <a href="https://www.ninewest.com.tr/page?url=sss-desktop">https://www.ninewest.com.tr/page?url=sss-desktop</a> linkinde "KARGO ve TESLİMAT" başlığında yer alan bilgileri kontrol ediniz.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">5.2.</span><span
                    class="wu-text">  Ürünlerin teslimatı, SATICI tarafından ve kargo şirketi aracılığı ile ALICI ‘nın bildirdiği teslimat adresine; sipariş tarihinden itibaren en geç 30 (otuz) gün içinde yapılacaktır. Resmî tatiller ve/veya dini ve/veya milli bayram günleri bu sürenin hesabında dikkate alınmaz. Teslimat sırasında ALICI ve/veya ALICI adına hareket eden kişi ürünü muayene ettikten sonra teslim tutanağını imzalayarak ürünü teslim almakla yükümlüdür.

<br>Alıcı ve/veya Alıcı adına hareket eden kişi anılan teslim tutanağını imzalamakla; ürünü tam, eksiksiz ve hasarsız olarak teslim aldığını beyan etmiş olacaktır. ALICI, üründe gördüğü ayıpları SATICI'ya derhal bildirmekle yükümlüdür.</span><span
                    class="wu-text">
</span><br></div>

        <div class="wu-line"><span class="wu-text wu-bold">MADDE 6 - CAYMA HAKKI:</span><br></div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.1</span><span
                    class="wu-text">.  Alıcı, mesafeli Satış Sözleşmesi’nin 6. maddesinde belirtilen istisnalar hariç olmak üzere sözleşme konusu ürünün kendisine veya gösterdiği adresteki kişiye tesliminden itibaren 14 (on dört) gün içinde sebep belirtmeksizin cayma hakkını kullanabilir.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.2.</span><span
                    class="wu-text">. Cayma hakkının kullanılması için anılan bu 14 (on dört) günlük süre içinde alıcı tarafından Mesafeli Satış Sözleşmesi’nde belirtilen iletişim kanallarından herhangi biri (mesafeli satış sözleşmesi ekindeki cayma formu kullanılarak veya sair şekillerde) ile SATICI’ya cayma bildiriminde bulunulması gerekmektedir. Cayma bildiriminin SATICI’ya ulaşmasını takip eden 14 (on dört) gün içinde ürün bedeli SATICI tarafından ALICI’ya iade edilir.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.3.</span><span
                    class="wu-text">.  Alıcının, cayma hakkı kapsamında ürün ya da ürünleri SATICI’ya geri göndermekte kullanacağı taşıyıcı, sipariş edilen ürünün kendisine teslim edildiği kargo şirketidir. Cayma hakkı nedeni ile iade edilen ürünün başkaca bir kargo şirketi ile SATICI’ya gönderilmesi halinde kargo bedeli SATICI tarafından karşılanmaz.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.4.</span><span
                    class="wu-text">. Alıcı, cayma hakkını kullandığı yönündeki bildirimi gerçekleştirdiği tarihten itibaren 10 (on) gün içinde ürünü SATICI’ya göndermekle yükümlüdür.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.5.</span><span
                    class="wu-text"> . Alıcı, cayma süresi içinde ürünü, işleyişine, teknik özelliklerine ve kullanım talimatlarına uygun bir şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan sorumlu değildir. <br>Ürün ile birlikte satış faturasının, ürünün kutusunun, ambalajının, varsa standart aksesuarları ve varsa ürün ile birlikte hediye edilen diğer ürünlerin de eksiksiz ve hasarsız olarak ALICI tarafından, SATICI’ya iade edilmesi gerekmektedir.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.6.</span><span
                    class="wu-text">. SATICI, Alıcı’nın cayma hakkını kullandığına ilişkin bildiriminin kendisine ulaştığı tarihten itibaren 14 (on dört) gün içinde varsa ürünün Alıcı’ya teslim masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri Alıcı’ya iade etmekle yükümlüdür.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">6.7.</span><span
                    class="wu-text"> . Alıcı, Mesafeli Sözleşmeler Yönetmeliği gereği cayma hakkına ve bu hakkın kullanımına ilişkin bilgilendirmenin gereği gibi yapıldığını kabul eder.</span><br>
        </div>

        <div class="wu-line"><span class="wu-text wu-bold">MADDE 7 - CAYMA HAKKININ KULLANILAMAYACAĞI DURUMLAR:</span><br></div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">7.1</span><span
                    class="wu-text">. Alıcı’nın istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan ürünler veya standart niteliklerinde değişiklik yapılmış ürünler ve ayrıca tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan, iadesi sağlık ve hijyen açısından uygun olmayan ürünler için cayma hakkı kullanılamaz.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">7.2</span><span
                    class="wu-text">. Alıcı, Mesafeli Sözleşmeler Yönetmeliği gereği cayma hakkının kullanılamayacağı ürünlere ilişkin bilgilendirmenin gereği gibi yapıldığını kabul eder. <br>
            Yurtdışı gönderilerinin iade edilmesi durumunda oluşan gümrük borçlandırmaları alıcı tarafından ödenecektir.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> </span><span class="wu-text wu-bold">MADDE 8 - YETKİLİ MAHKEME</span><br></div>
        <div class="wu-line"><span class="wu-text"> İşbu sözleşmenin uygulanmasından doğacak uyuşmazlıklarda T.C. Ticaret Bakanlığı’nca her yıl ilan edilen parasal sınırlar dahilinde; ALICI’nın ürün ve/veya hizmeti satın aldığı veya ikametgahının bulunduğu yerdeki Tüketici Hakem Heyetleri ile Tüketici Mahkemeleri tek yetkilidir. </span><br>
        </div>
        <div class="wu-line"><span class="wu-text">İşbu sözleşme elektronik ortamda taraflarca okunup, kabul edilip, teyit edilmiştir. İşbu sözleşmede <b>düzenlenmemiş hususlarda 6502 sayılı Tüketicinin Korunması Hakkında Kanun hükümleri uygulanır.</b> </span>
          <br>
        </div>
        <div class="wu-line"><span class="wu-text wu-bold">MADDE 9 - DİĞER HÜKÜMLER</span><br></div>
        <div class="wu-line"><span class="wu-text"> 9.1. Yukarıda verilen bilgiler tanıtma veya reklam amaçlı değildir. Ticari amaçla, ürün satışına yönelik verilmişlerdir. Kredi kartı bilgilerinizi girmeniz ve satış işlemine onay vermeniz halinde siparişiniz işleme konacaktır.</span><br>
        </div>
        <div class="wu-line"><span class="wu-text"> 9.2. "ALICI", <a href="https://www.ninewest.com.tr">ninewest.com.tr</a>internet sitesinde satışı yapılan ürüne ait 2. maddede belirtilen temel özellikleri, tüm vergiler dahil satış fiyatı, ödeme şekli ve teslimata ilişkin ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda bu hususlara ilişkin gerekli teyidi verdiğini beyan ve kabul eder.</span><span
                    class="wu-text">
</span><br></div>

    </div>
</div>
