{{ widget('datalayer', 'product_detail', {layerData: {product: product, breadcrumbs: breadcrumb}} ) }}

<div id="product-detail-page" data-product-id="{{ product.id }}" class="product-detail">
    <div class="breadcrumb" style="padding: 0 0 10px 15px">
        <ul>
            <li>
                <a href="/" >{{ 'ANASAYFA' | translate }}</a>
            </li>
            {% for cat in breadcrumb %}
                <li>
                    <a href="/{{ cat.url }}">{{ cat.name | translate | upper }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="javascript:void(0);" >{{ product.name | raw }}</a>
            </li>
        </ul>
    </div>

    <div class="pro-detail">
        <div class="top">
            <div class="mc-md-7 mc-sm-12 pa">
                <div class="detail-images">

                    {% if product.media_gallery %}
                    <div class="slider-nav">
                        {% for image in product.media_gallery %}
                            <div class="item">
                                <div class="imgs">
                                    <img src="{{ image.url|resize('160x160') }}" class="resimatt" alt="">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="slider-for">
                        {% for image in product.media_gallery %}
                            <div class="item">
                                <a href="{{ image.url }}" data-fancybox="images">
                                    <img src="{{ image.url|resize('480x480') }}" class="resimatt" alt="">

                                    <div class="zoomimages">
                                        <img src="{{ image.url|resize('1000x1000') }}" class="resimatt" alt="">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                        {% else %}
                            <img src="https://d2051664q0o44f.cloudfront.net/placeholder/268x268.jpg " alt="" class="image-att">
                    {% endif %}
                </div>
            </div>
            <div class="mc-md-5 mc-sm-12 pa">
                <div class="detail-text">
                    <div class="type">
                        <ul>
                            {% if product.season in season_options %}
                                <li class="active">{{ 'Yeni' | translate }}</li>
                            {% endif %}
                                {% if  product.special_price %}
                                    {% set indirim_orani = (((product.price - product.filter_price)/ product.price) * 100) | number_format(0, '.', ',') %}
                                    <li class="{% if product.third_price  %} discount-label {% endif %}">%{{ '%s İndirim' | translate | format( indirim_orani ) }} </li>
                                {% endif %}

                            {% if  product.third_price is not empty and  product.third_price > free_shipping_limit %}
                                <li class="active">{{ 'Kargo Bedava' | translate }}</li>
                            {% elseif product.third_price is empty and product.filter_price > free_shipping_limit %}
                                <li class="active">{{ 'Kargo Bedava' | translate }}</li>
                            {% endif %}

                            <li class="hidden">{{ 'İnternete Özel' | translate }}</li>
                        </ul>
                    </div>
                    <div class="text {% if product.rule_info  %} basket-discount-price  {% if product.third_price  %} only-cart-rule{% endif %} {% endif %}">
                        <h1>
                        <span>{{ product.manufacturer | raw }}</span>
                        <p>{{ product.name | raw }}</p>
                        </h1>
                        <div class="money">
                            {% if product.special_price %}
                                <i class="prev">{{ product.price|price }}</i>
                            {% endif %}
                            <i class="next">{{ product|price }}</i>
                            {% if product.rule_info %}
                                <div class="basket-discount">
                                    <div class="discount-rate">
                                        {% for key,info in product.rule_info %}
                                            {% if key == 0 %}
                                                {{ info['label'] }}
                                            {% endif %}
                                        {% endfor %}</div>
                                    {% if product.third_price %}<i class="next">{{ product.third_price|price }}</i>
                                    {% endif %}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="beden-box">
                        <div class="title">{{ 'BEDEN SEÇ' | translate }}</div>
                        <div class="list">
                            <div class="form-group">
                                <div class="checkbox">
                                    {% for option in product.options %}
                                        <label {% if option.is_in_stock is empty %} class="nostok" {% endif %}>
                                            <div class="input-radio {% if product.options|length == 1 %} selected{% endif %}" {% if option.is_in_stock is empty %} data-disabled="1" {% endif %} {% if product.options|length == 1 %}
                                                 data-selected="1" {% endif %}data-name="option_sku_{{ product.id }}"
                                                 data-value="{{ option.sku }}" data-option-id="{{ option.entity_id }}"
                                                 data-option="{{ option.option_value }}" style="position: relative;">
                                                {{ option.option_value }}
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ widget('products', 'modal_size_chart') }}

                    {% if product.color_options %}
                        <div class="other-color">
                            <div class="title">{{ 'DİĞER RENKLER' | translate }}</div>
                            <div class="list">
                                <div class="renk-grup">
                                    <ul>
                                        {% for color_option in product.color_options %}
                                            <li{% if color_option.sku == product.sku %} class="active"{% endif %}>
                                                <a href="{{ color_option.url }}">
                                                    <img src="{{ color_option.image|resize('66x66') }}"
                                                         class="resimatt" alt="">
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div id="sepeteekle" style="display: none;">
                        <div class="title">{{ 'SEPET' | translate }}</div>
                        <div class="detail-bas">
                            <div class="ico">
                                <img src="/pub/assets/instreet/images/big-basket.png" alt="">
                                <i class="cart-count"></i>
                            </div>
                            <p>{{ 'Ürün Sepetinize eklenmiştir.' | translate }}</p>
                            <span>{{ 'Sepetinizde' | translate }} <i class="cart-count red"></i> {{ 'ürün bulunmaktadır.' | translate }}</span>
                            <div class="bottom">
                                <a href="javascript:void(0)" onclick="$.fancybox.close()">{{ 'Alışverişe Devam Et' | translate }}</a>
                                <a href="{{ basket_base_url() }}/basket">{{ 'Sepete Git' | translate }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="basket-button">
                        <div class="linkto">
                            <a id="clickSepeteekle" class="hidden various d-visible" href="#sepeteekle">{{ 'SEPETE EKLE' | translate }}</a>
                            <a id="add2cart" data-has-option="{% if product.options %}1{% else %}0{% endif %}"
                               data-product-id="{{ product.id }}"
                               data-sku="{{ product.options|length == 1 ? product.options|first.sku : product.sku }}"
                               class="add-to-cart"
                               href="">{% if product.qty %}{{ 'SEPETE EKLE' | translate }}{% else %}{{ 'HABER VER' | translate }}{% endif %}</a>
                        </div>
                    </div>
                    <div class="kargo-info ">
                        <div class="kargo-container">
                        <span >
                        <img src="/pub/assets/instreet/images/truck.png" alt="INstreet"></span> <span class="kargo-text">
                        {{ product_cargo['firstDate'] | date("d.m.Y") }} - {{ product_cargo['lastDate'] | date("d.m.Y") }} tarihleri arasında kargoda.</span>
                        </div>
                    </div>
                    <div class="pro-other-link">
                        <ul>
                            <li>
                                <a class="various d-visible" href="#taksit">{{ 'Taksit Seçenekleri' | translate }}</a>
                            </li>
                            <li>
                                <a class="various d-visible" href="#bedentablosu">{{ 'Beden Tablosu' | translate }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="add-wishlist"
                                   data-product-id="{{ product.id }}" data-sku="{{ product.sku }}">{{ 'Favorilerime Ekle' | translate }}</a>
                                <a id="faveklePopupTrigger" class="hidden various d-visible" href="#favekle">&nbsp;</a>
                            </li>
                        </ul>
                    </div>

                    <div id="favekle" style="display: none;">
                        <div class="title">{{ 'BAŞARILI' | translate }}</div>
                        <div class="detail-bas">
                            <p>{{ 'Ürün favori listenize eklendi.' | translate }}</p>
                            <div class="bottom">
                                <a href="javascript:void(0)" onclick="$.fancybox.close()">{{ 'Alışverişe Devam Et' | translate }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="other-last-buttons">
                        <div class="social">
                            <ul>
                                <li><a href="http://www.facebook.com/sharer.php?u={{ url_info['current'] }}"
                                       target="_blank">
                                        <i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/share?url={{ url_info['current'] }}&amp;text=Share%20Buttons&amp;hashtags=instreet"><i
                                                class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/user/sportinstreet"><i
                                                class="fa fa-youtube"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/instreet/?hl=tr"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        {# TODO #}
                        {#<div class="damping">#}
                            {#<a class="various d-visible" href="#damping">İndirime Girince Haber Ver</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
        {% if product.special_price %}
            {{ widget('general', 'modal_installment_table',{price:product.special_price}) }}
        {% else %}
            {{ widget('general', 'modal_installment_table',{price:product.price}) }}
        {% endif %}
        <div class="tab-list">
            <div class="mc-md-12 mc-sm-12 pa">
                <div class="pro-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#urunbilgileri">{{ 'Ürün Hakkında' | translate }}</a></li>
						{% if product.description %}
                        <li><a data-toggle="tab" href="#urunaciklamasi">{{ 'Ürün Açıklama' | translate }}</a></li>
						{% endif %}
                        <li><a data-toggle="tab" href="#teslimat">{{ 'Teslimat ve İade' | translate }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="urunbilgileri" class="tab-pane fade in active">
                            <div class="content">
                                <table>
                                    {% for description_field in description_fields %}
                                        {% if product[description_field] is not empty %}
                                            <tr>
                                                <td>{{ attribute_labels[description_field] | translate }} :</td>
                                                <td>{% if description_field == 'manufacturer' %}<a target="_blank" href="/{{ "marka" | translate }}/{{brand_info.url_key |raw }}">{{ product[description_field]|trim('0', 'left') }}{% else %}{{ product[description_field]|trim('0', 'left') }}{% endif %}</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                </table>
                            </div>
                        </div>

						{% if product.description %}
							<div id="urunaciklamasi" class="tab-pane fade in active">
								<div class="content">
									{{ product.description }}
								</div>
							</div>
						{% endif %}

                        <div id="teslimat" class="tab-pane fade">
                            {{ widget('products', 'tab_teslimat') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-your">
    <div class="container-fluid">
        {{ widget('products', 'product_slider', {title: 'Sizin İçin Seçtiklerimiz' | translate, data_source: 'sizin-icin-sectiklerimiz' }) }}
    </div>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ product.name }}",
        "image": [
        {% for media in product.media_gallery %}
            "{{ media.url }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        ],
        "description": "{{ product.image_label|default(product.name) }}",
        "brand": {
            "@type": "Thing",
            "name": "{{ product.manufacturer }}"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "TL",
            "price": "{{ product.third_price | default(product.special_price) |default(product.price) }}",
            "priceValidUntil": "{{ product.special_to_date }}",
            "itemCondition": "https://schema.org/NewCondition",
			{% if product.qty %}
            	"availability": "https://schema.org/InStock",
			{% else %}
            	"availability": "https://schema.org/OutOfStock",
			{% endif %}
            "url": "{{ config('env.webservice.url.web') ~ product.url|trim('/', 'left') }}",
            "seller": {
                "@type": "Organization",
                "name": "Instreet"
            }
        },
        "sku": "{{ product.sku }}"
    }
</script>

<script type="application/ld+json"> 
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": {{ 1 }},
			"item": {
				"@id": "{{ config('env.webservice.url.web') }}", "name ": "Anasayfa"
			}
		},
		{% for item in breadcrumb %}
		{
			"@type": "ListItem",
			"position": {{ loop.index + 1 }},
			"item": {
				"@id": "{{ config('env.webservice.url.web') }}{{ item.url }}", "name ": "{{ item.name }}"
			}
		},
		{% endfor %}
		{
			"@type": "ListItem",
			"position": {{ breadcrumb | length + 1 }},
			"item": {
				"@id": "{{ config('env.webservice.url.web') }}", "name ": "{{ product.name }}"
			}
		}
	]
}
</script>