{{ widget('general', 'banner', {source: 'banner_1' }) }}
{{ widget('general', 'banner', {source: 'banner_2' }) }}

<div class="container-fluid container-no-gutters">
    <div class="row row-no-gutters">
        <div class="col-sm-4">
			{{ widget('general', 'banner', {source: 'banner_triple_1' }) }}
        </div>
        <div class="col-sm-4">
			{{ widget('general', 'banner', {source: 'banner_triple_2' }) }}
        </div>
        <div class="col-sm-4">
			{{ widget('general', 'banner', {source: 'banner_triple_3' }) }}
        </div>
    </div>
</div>

<div class="container-fluid container-no-gutters">
    <div class="row row-no-gutters">
        <div class="col-sm-6">
			{{ widget('general', 'banner', {source: 'banner_3_left' }) }}
        </div>
        <div class="col-sm-6">
			{{ widget('general', 'banner', {source: 'banner_3_right' }) }}
        </div>
    </div>
</div>

{# {{ widget('products', 'product_slider', {title: 'SİZİN İÇİN SEÇTİKLERİMİZ' | translate, data_source: 'sizin-icin-sectiklerimiz' }) }} #}

{{ widget('general', 'spotlight', {}) }}


{{ widget('general', 'banner', {source: 'banner_4' }) }}

<div class="container-fluid container-no-gutters">
    <div class="row row-no-gutters">
        <div class="col-sm-6">
			{{ widget('general', 'banner', {source: 'banner_5_left' }) }}
        </div>
        <div class="col-sm-6">
			{{ widget('general', 'banner', {source: 'banner_5_right' }) }}
        </div>
    </div>
</div>
