<main role="main">
    <div class="favourites-page-wrapper">
        <div class="page-title-bar">
            <a href="/" class="go-back-link">
                <i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i>
            </a>
            <h1>FAVORİLERİM</h1>
        </div>
        {% if products is empty %}
        <div class="bg-white p-4 text-center">
            <div class="row justify-content-center">
                <div class="col-10 font-weight-normal">
                    <div>
                        <img src="/pub/assets/flo/img/empty-favourites.png">
                    </div>
                    <div>
                        <img src="/pub/assets/flo/img/empty-favourites-shadow.png">
                    </div>
                    <h4 class="mb-4">Favori Listenizde Henüz Ürün Yok</h4>
                    <p>Beğendiğiniz ürünlerin üzerinde bulunan kalp işaretine tıklayak ürünleri favori listenize ekleyebilirsiniz.</p>
                    <p class="mb-4 pb-2">Aşağıdaki butonuna tıklayıp, Alışverişe Başlayabilir  istediğiniz ürünleri favoriye ekleyebilirsiniz.</p>
                    <a href="/" class="btn orange-gradient w-75 fs-14 ml-auto mr-auto mb-4">ALIŞVERİŞE BAŞLA <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if products is not empty %}
            <div class="container">
                <div class="row mb-3">
                    {% for product in products %}
                        <div class="col-6">
                            <a href="{{ product.url }}" class="product-box" data-product-id="{{ product.id }}"
           onclick='RG.DataLayer.trigger("category_product_click", {productId: {{ product.id }}});'>
                                <figure>
                                    <span class="badge badge-info">İnternete özel</span>
                                    <img src="{{ product.image|resize('162x162') }}">
                                    <span class="remove-from-favourites-button" data-product-id="{{ product.id }}" data-sku="{{ product.sku }}"></span>
                                </figure>
                                <span class="title">{{ product.manufacturer }}</span>
                                <span class="description">{{ product.name }}</span>
                                <span class="prices discounted">
                                     {% if product.special_price %}
                                         <span class="old-price">{{ product.price | price }}</span>
                                     {% endif %}
                                        &nbsp;&nbsp;<span class="price">{{ product|price }}</span>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</main>

{{ widget('datalayer', 'favourite', {layerData: {productList: products}} ) }}