<div class="page searchnone">
    <div class="container-fluid">
        <div class="page-content sab">
            <div class="whitepage">
                <div class="title orange">{{ 'HESABIM / KİŞİSEL BİLGİLERİM' | translate }}</div>
                <div class="content hesap">
                    <div class="my-account-list">
                        <div class="form adress-ose">
                            <form method="POST" id="customer-edit-form"  class="customer-edit-form">
                                <div class="form-group fcs required">
                                    <input name="firstname" type="text" value="{{ customer.firstname }}" class="validate[required,onlyLetterSp,minSize[2]]">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="res"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group required">
                                    <input name="lastname" type="text" value="{{ customer.lastname }}" class="validate[required,onlyLetterSp,minSize[2]]">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="res"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group required">
                                    <input name="email" type="text" value="{{ customer.email }}" readonly class="validate[required,custom[email],funcCall[characterTurkish]] customer-email">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="res"></a>
                                        </li>
                                    </ul>
                                </div>



                                <div class="form-group required">
                                     <input name="phone" type="tel" value="{{ customer.phone }}" class="validate[required,custom[phone]]" placeholder="{{ 'TELEFON NUMARASI ' | translate }}*">
                                </div>
                                <div class="form-group ">
                                    <span style="padding-bottom:0;font-size:16px;">{{ 'CİNSİYET' | translate }} *</span>
                                    <div class="checkbox">
                                        <label>
                                            <div class="iradio_square-blue {{ customer.gender == 2 ? "checked" : "" }} new-radio" style="position: relative;">
                                                <input type="radio" value="2" class="validate[required]" name="gender" {{ customer.gender == 2 ? "checked" : "" }}
                                                       style="position: absolute; opacity: 0;">

                                            </div>{{ 'KADIN' | translate }}
                                        </label>
                                        <label>
                                            <div class="iradio_square-blue new-radio {{ customer.gender == 1 ? "checked" : "" }}" style="position: relative;">
                                                <input type="radio" value="1" class="validate[required]" name="gender" {{ customer.gender == 1 ? "checked" : "" }} style="position: absolute; opacity: 0;"></div>{{ 'ERKEK' | translate }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        {% for aggrement in aggrements %}
                                            <label>
                                                <div class="icheckbox_square_gold new-checkbox " style="position: relative;">
                                                    <input type="checkbox" autocomplete="off" name="{{ aggrement.alias }}" value="{{ aggrement.aggrement_id }}" class="{{ aggrement.alias }} {% if  aggrement.alias == 'uyelik_sozlesmesi' or aggrement.alias == 'subscribed_kvkk'   %} validate[required] {% endif %}">
                                                </div>

                                                {{ aggrement.front_text|raw }}
                                            </label>

                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="note">* {{ 'Yıldızlı alanların girişi zorunludur.' | translate }}</div>

                                <div class="fixedbottom">
                                    <div class="linkto">
                                        <input type="submit" id="btn-customer-save" value="{{ 'UYGULA' | translate }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>