{% set page_content %}
    {% include page_tpl %}
{% endset %}
<!DOCTYPE html>
<html lang="tr">
<head>
    {{ widget('general', 'head', {meta: meta,meta_robots:meta_robots}, false) }}
    {{ widget('general', 'head_scripts', [], false) }}
</head>
{% spaceless %}
    <body class="">
    {{ widget('general', 'body_scripts') }}
	{{ widget('general', 'header', {'search_bar':'close'}) }}



    {{ page_content }}

    {{ widget('general', 'footer') }}
    {{ widget('general', 'footer_scripts') }}
    {{ widget('datalayer', 'all_pages', {layerData: {customer: customer_info, cart: cart}}) }}
    </body>
{% endspaceless %}
</html>
