<div class="brands-page-wrapper">
    <div class="container">
        <div class="search-form-wrapper">
            <h1>Markalar</h1>
            <form action="/" class="search-form">
                <input type="text" class="form-control autocomplete" value="">
                <button name="dddd" type="button"><i class="svg-search-white svg-search-white-dims"></i></button>
            </form>
        </div>
        <div class="brand-boxes">
            <div class="row medium-gutter">
                {% for brand in flo_brands %}
                    <div class="col-sm-4 filter_div">
                        <span class="hidden">{{ brand.title }}</span>
                        <div class="brand-box">
                            <a href="/{{ brand.url }}">
                                {% if brand.brand_status == 1 %}
                                    {% set image =  brand.image %}
                                {% else %}
                                    {% set image =  brand.page_brand_image %}
                                {% endif %}
                                {{ img(image, '', {alt: brand.title, cdn: 'general'}) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="brand-list-holder">
            <ul class="alphabetic-list">
                {% for letter in 'A'..'Z' %}
                    <li><a href="javascript:" data-target="{{ letter }}">{{ letter }} </a></li>
                {% endfor %}
            </ul>
            {% for letter in 'A'..'Z' %}
                <div class="single-letter-brand" data-starting-letter="{{ letter }}">
                    <div class="letter">{{ letter }}</div>
                    <ul>
                        {% for brand in brands %}
                            {% set start = brand.title | slice(0,1) | upper_tr %}
                            {% if letter == start %}
                                <li><a href='/{{ brand.url }}'>{{ brand.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <a href="javascript:" class="show-all-brands">TÜM MARKALAR <i class="fa fa-angle-right ml-2"></i></a>
        </div>
    </div>
</div>
