<div class="page searchnone">
    <div class="container-fluid">
        <div class="page-content sab">
            <div class="whitepage">
                <div class="title orange">{{ 'HESABIM' | translate }}</div>
                <div class="my-account-list">
                    <div class="accordions">
                        <ul>
                            <li>
                                <a href="/customer/orders">{{ 'SİPARİŞLERİM' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/edit">{{ 'KİŞİSEL BİLGİLERİM' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/password-edit">{{ 'ŞİFREMİ DEĞİŞTİR' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/subscriptions">{{ 'HABER BÜLTENİ ÜYELİKLERİM' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/address/index">{{ 'ADRESLERİM' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/savedcard/index">{{ 'KAYITLI KARTLARIM' | translate }}</a>
                            </li>
                            <li>
                                <a href="#">{{ 'KAYITLI KUPONLARIM' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/wishlist">{{ 'FAVORİ LİSTEM' | translate }}</a>
                            </li>
                            <li>
                                <a href="/stock/index">{{ 'STOK ALARMLARI' | translate }}</a>
                            </li>
                            <li>
                                <a href="/ticket/list">{{ 'MÜŞTERİ HİZMETLERİ' | translate }}</a>
                            </li>
                            <li>
                                <a href="/customer/kuponlarim">{{ 'KUPANLARIM' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
