

                <ul class="steps">
                    <li class="completed">
                        <a href="{{ basket_base_url() }}/basket">
                            Sepet
                        </a>
                    </li>
                    <li class="completed">
                        <a href="/checkout/address">
                            Adres
                        </a>
                    </li>
                    <li class="active">
                        <a href="/checkout/payment">
                            Ödeme
                        </a>
                    </li>
                </ul>
                <div class=" my-basket">
                    <div class=" basket-list">
                <div class="basket-detail">
                    <div class="row">
                    <div class="col-sm-7">
                        <div class="payment-type-tabs"> <ul class="nav nav-tabs" role="tablist">
                                {% set i = 0 %}
                                {% for payment in payment_methods %}
                                    {% if payment.code == 'cashondelivery' %}
                                        <li class="nav-item"><input type="hidden" data-name="method" value="{{ payment.code }}">
                                            <a id="pay-home-tab" data-toggle="tab" role="tab" data-method="{{ payment.code }}"class="payment-method-choice nav-link"
                                               aria-controls="{{ payment.code }}"  aria-selected="false" href="#{{ payment.code }}">{{ payment.title | translate }}</a>
                                        </li>
                                    {% else %}
                                        {% set i = i + 1 %}
                                        <li {% if i == 1 %}class="active"{% endif %}><input type="hidden" data-name="method"
                                                                                            value="{{ payment.code }}">
                                            <a class="nav-link active payment-method-choice" id="credit-card-tab" data-toggle="tab"  role="tab"
                                               data-method="{{ payment.code }}" aria-controls="{{ payment.code }}" aria-selected="true"
                                               href="#{{ payment.code }}"
                                               {% if i == 1 %}aria-expanded="true" {% endif %}>{{ payment.title | translate }}</a>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            </ul></div>

                    </div>
                        <div class="col-sm-5"> </div>

                        </div>
                    <div class=" small-gutter row-eq-height ">
                        <div class="payment-type-tabs">
                            <div class="tab-content">
                                {% for payment in payment_methods %}
                                    {% if payment.code == 'cashondelivery' %}
                                        <div id="{{ payment.code }}" role="tabpanel" aria-labelledby="{{ payment.code }}-tab" class="two tab-pane fade">
                                            <form id="kapida-odeme" class="row">
                                            <div class="col-sm-7 cart-input">
                                                <div class="kapida-ode">
                                                    <div class="brd">
                                                        <div class="text">

                                                        </div>
                                                        Alışveriş tutarınıza kargo firması tarafından talep edilen 9,00 TL kapıda ödeme ücreti eklenecektir.<br>
                                                        1- Kapıda ödeme seçeneğinde sadece nakit ödeme kabul edilmektedir.<br>
                                                        2- Kapıda kredi kartı ile ödeme kabul edilmemektedir.<br>
                                                        3- Kapıda ödeme seçeneğiyle alınan ürünlerin iadesi mağazalarımızdan veya iade adresimize gönderilerek yapılabilir.<br>
                                                        4- İade işlemlerinde fatura ibrazı zorunludur, faturasız iade kabul edilmemektedir.<br>
                                                        5- Mağazalardan nakit iade yapılmamaktadır.<br>

                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-sm-5 cart-image">
                                                    <div class="credit-card-area">
                                                        <div class="banner-area">
                                                            <img src="/pub/assets/flo/img/kapida_odeme.gif" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div id="{{ payment.code }}" ole="tabpanel" aria-labelledby="{{ payment.code }}-tab" class="tab-pane fade  show  active">
                                            <div class="tab-pane fade show form online active" id="credit-card" role="tabpanel" aria-labelledby="credit-card-tab">
                                                <form action="javascript:void(0);" id="cc_cart_info" class="row">
                                                <div class="col-sm-7 cart-input">
                                                    <div class="use-saved-cart" {{ saved_card_tokens ? '' : 'hidden' }}>
                                                        {% if not saved_card_tokens is empty %}
                                                            <div class="form-group card-all">
                                                                <select id="saved-card-list"  class="form-control">

                                                                    {% for token in saved_card_tokens %}
                                                                        <option data-platform="{{ token.program_name }}"
                                                                                data-id="{{ token.saved_card_id }}">{{ token.program_name }}
                                                                            No: {{ token.bin_number }} </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <a class="continue-new-card fl-right"
                                                               href="javascript:void(0);">{{ 'Yeni Bir Kart İle Devam Et' | translate }}</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="use-card-number" {{ saved_card_tokens ? 'hidden' : '' }}>
                                                        <div class="form-group card-holder">
                                                            <label>Kredi Kartı Numarası
															</label>
                                                            <div class="row">
                                                                <div class="col-lg-9 col-sm-12 ">
																	<div class="ssl-text">GÜVENLİ ÖDEME</div>
                                                                    <input type="text" data-name="cc_number" name="cc_number" class="form-control inputmask validate-cc-number input-text card-numbers validate[required,creditCard]" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row small-gutter">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Son Kullanma Tarihi</label>
                                                                    <div class="row small-gutter">
                                                                        <div class="col cc_date month">
                                                                            <span class="current hidden">{{ 'Ay' | translate }}</span>
                                                                            <select class="form-control list " name="payment[cc_exp_month]" id="card-expiration-month">
                                                                                <option value="">Ay</option>
                                                                                <option data-value="1" class="option" value="1">1</option>
                                                                                <option data-value="2" class="option" value="2">2</option>
                                                                                <option data-value="3" class="option" value="3">3</option>
                                                                                <option data-value="4" class="option" value="4">4</option>
                                                                                <option data-value="5" class="option" value="5">5</option>
                                                                                <option data-value="6" class="option" value="6">6</option>
                                                                                <option data-value="7" class="option" value="7">7</option>
                                                                                <option data-value="8" class="option" value="8">8</option>
                                                                                <option data-value="9" class="option" value="9">9</option>
                                                                                <option data-value="10" class="option" value="10">10</option>
                                                                                <option data-value="11" class="option" value="11">11</option>
                                                                                <option data-value="12" class="option" value="12">12</option>


                                                                            </select>
                                                                        </div>
                                                                        <div class="col cc_date  hidden">
                                                                            <span class="current hidden">{{ '/' | translate }}</span>

                                                                        </div>

                                                                        <div class="col cc_date year">
                                                                            <span class="current hidden ">{{ 'yıl' | translate }}</span>
                                                                            <select class="form-control cc_date  list" name="payment[cc_exp_year]" id="card-expiration-year">
                                                                                <option value="" class="option focus">Yıl</option>
																				{% set label = 19 %}
                                                                                {% for i in 2019..2040 %}
                                                                                    <option data-value="{{ i }}" class="option">{{ label }}</option>
																				{% set label = label + 1 %}
                                                                                {% endfor %}

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">

                                                                <div class="form-group pl-2">
                                                                    <label>Güvenlik Kodu</label>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group  cvv required">
                                                                                <div class="input-with-tooltip">
                                                                                    <input type="text" data-name="cc_cvv"  class="inputQuantity validate[required] form-control text-center"   min="0"
                                                                                           max="9999" maxlength="3"name="payment[cc_cid]" id="card-ccv">
                                                                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="CVV Kodu kartınızın
        																arkasındaki son 3 rakamdır."></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-3 mt-3">

                                                        <div class="form-group ">
                                                            <div class="checkbox">
                                                                <label class="flo-checkbox  mb-0 mr-4" id="3d-secure">
                                                                    <input type="checkbox"> 3D Secure İle Öde
                                                                    <span><i class="fa fa-check"></i></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {% if(isLogged is not empty) %}
                                                            <div class="form-group save-card " {{ saved_card_tokens ? 'hidden' : '' }}>
                                                                <div class="checkbox input-with-tooltip">
                                                                    <label class="flo-checkbox mb-0"  id="save-card-command">
																		<input type="checkbox" checked>
                                                                       Kredi Kartımı Sakla
                                                                        <span><i class="fa fa-check"></i></span>
                                                                    </label>
                                                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Kart bilgilerinizin saklanmasına izin vermek ve bundan sonraki
        											alışverişlerinizi çok daha hızlı yapabilmek için lütfen kutucuğu işaretleyiniz."></i>
                                                                </div>

                                                            </div>
                                                        {% endif %}

                                                    </div>
													
													<div class="ssl-images">
														<img src="/pub/assets/flo/img/ssl/ssl_text.png" alt="SSL"/>
														<span class="seperator"></span>
														<img src="/pub/assets/flo/img/ssl/cards.svg" alt="Credit Cards"/>
													</div>
													</div>
                                                    <div class="col-sm-5 cart-image">
                                                        <div class="credit-card-area">
                                                            <div class="credit-card-box">
                                                                <div class="flip">
                                                                    <div class="front">
                                                                        <div class="logo-holder">
                                                                            <div class="logo">
                                                                                <img src="/pub/assets/flo/img/banks/maximum.png" style="display:none;">
                                                                            </div>
                                                                        </div>
                                                                        <div class="number"></div>
                                                                        <div class="card-holder">
                                                                            <div></div>
                                                                        </div>
                                                                        <div class="card-expiration-date">
                                                                            <div></div>
                                                                        </div>
                                                                        <div class="card-type">
                                                                            <img src="/pub/assets/flo/img/banks/visa.png" style="display:none;">
                                                                        </div>
                                                                    </div>
                                                                    <div class="back">
                                                                        <div class="strip"></div>
                                                                        <div class="logo">

                                                                        </div>
                                                                        <div class="ccv">
                                                                            <div></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="installment-holder taksit required">
                                                                <div class=" cc_installment"  >
                                                                    <div class="fs-15 text-gray mb-2"><u>Taksit Seçenekleri</u></div>

                                                                  {#  <ul class="list">
                                                                        <li data-id="0"
                                                                            class="option selected focus">{{ 'Tek Çekim' | translate }}</li>
                                                                    </ul>#}
                                                                    <table class="table table-bordered installment-table d-">
                                                                        <tbody class="list flo-theme-desktop" ></tbody>
                                                                    </table>
                                                                </div>

{#
                                                                <div class="installment-holder">
                                                                    <div class="fs-15 text-gray mb-2"><u>Taksit Seçenekleri</u></div>
                                                                    <div class="installment-table-placeholder">
                                                                        Bu alan kredi kartı bilgilerinize göre güncellenecektir.
                                                                    </div>
                                                                    <table class="table table-bordered installment-table d-">
                                                                        <tr>
                                                                            <td>
                                                                                <label class="flo-radio mb-0 text-gray">
                                                                                    <input type="radio" name="installment" checked="">
                                                                                    <i></i>
                                                                                    <div class="text-holder d-flex justify-content-between">
                                                                                        Tek Çekim
                                                                                        <span>144,98 TL</span>
                                                                                    </div>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <label class="flo-radio mb-0 text-gray">
                                                                                    <input type="radio" name="installment" checked="">
                                                                                    <i></i>
                                                                                    <div class="text-holder d-flex justify-content-between">
                                                                                        2 Taksit
                                                                                        <span>144,98 TL</span>
                                                                                    </div>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <label class="flo-radio mb-0 text-gray">
                                                                                    <input type="radio" name="installment" checked="">
                                                                                    <i></i>
                                                                                    <div class="text-holder d-flex justify-content-between">
                                                                                        3 Taksit
                                                                                        <span>144,98 TL</span>
                                                                                    </div>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <label class="flo-radio mb-0 text-gray">
                                                                                    <input type="radio" name="installment" checked="">
                                                                                    <i></i>
                                                                                    <div class="text-holder d-flex justify-content-between">
                                                                                        6 Taksit
                                                                                        <span>144,98 TL</span>
                                                                                    </div>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <label class="flo-radio mb-0 text-gray">
                                                                                    <input type="radio" name="installment" checked="">
                                                                                    <i></i>
                                                                                    <div class="text-holder d-flex justify-content-between">
                                                                                        9 Taksit
                                                                                        <span>144,98 TL</span>
                                                                                    </div>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <label class="flo-radio mb-0 text-gray">
                                                                                    <input type="radio" name="installment" checked="">
                                                                                    <i></i>
                                                                                    <div class="text-holder d-flex justify-content-between">
                                                                                        12 Taksit
                                                                                        <span>144,98 TL</span>
                                                                                    </div>
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
#}

                                                            </div></div>

                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>  </div>


    <!-- Order Contract Modal -->
    <div class="modal fade" id="order-contract-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mesafeli Satış Sözleşmesi</h5>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ widget('checkout', 'agreement1') }}

                </div>
            </div>
        </div>
    </div>

    <!-- Pre Info Modal -->
    <div class="modal fade" id="pre-info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ön Bilgilendirme Formu</h5>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ widget('checkout', 'agreement2') }}

                </div>
            </div>
        </div>
    </div>
                <a class="hidden various d-visible" id="clicksmsactivation"   href="javascript:;"
                    data-toggle="modal" data-target="#smsact">SATIN AL</a>
    <div class="modal fade" id="smsact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered cart-modal" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">SMS AKTİVASYONU</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="smsaktivasyon"  >
                                    <form onsubmit="return false;">
                                         <div class="detail-bas">
                                            <h4>{{ 'Telefonunuza gönderilen' | translate }}
                                                <br> {{ '4 haneli aktivasyon kodunu giriniz.' | translate }}</h4>
                                            <div class="form-group">
                                                <input type="text" id="activation_code">
                                            </div>
											<input type="button" style="cursor: pointer;" id="check_activation_sms"
													value="{{ 'GÖNDER' | translate }}" class=" bottom btn btn-success">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

 {% if alert is defined %}
    <script>
        alert("{{ alert }}");
    </script>
{% endif %}
{{ widget('datalayer', 'checkout_payment', {layerData: {cart: basket}}) }}

