<h2 class="section-title mt-4">{{ 'MARKALAR' | translate }}</h2>
<div class="logos-bar lazy swiper-container swiper-autoinit"
	data-swiper-space-between="0"
    data-swiper-navigation="false"
    data-swiper-free-mode="true"
	data-swiper-slides-per-view="auto"
>
    <div class="swiper-wrapper">
    {% for brand in brands %}
        <div class="swiper-slide">
            <a href="/{{ brand.url }}" class="logo-box" data-spotlight-id="{{ brand.brand_id }}">
                {{ img('lazyloading/blank.png', '', { title: brand.title, height: '50px', cdn: 'general' }, brand.image) }}
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{{ widget('datalayer', 'spotlight', {layerData: {spotlights: brands}}) }}