<main role="main">

    <div class="account-page-wrapper">
        <div class="page-title-bar">
            <a href="/customer/myaccount" class="go-back-link"><i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i></a>
            <h1>SİPARİŞLERİM</h1>
        </div>
        <div class="container">
            {% if orders is empty %}
            <div class="breadcrumbs-bar title-only">
                <div class="empty-cart-alert text-center" style="margin: 0 auto;">
                    <i class="svg-cart-big svg-cart-big-dims mb-3"></i>
                    <h1>Henüz siparişiniz bulunmamaktadır</h1>
                    <p class="mb-5">Binlerce ürün ve model seni bekliyor, göz atmak için <a href="/">tıkla</a></p>
                    <a href="/"
                       class="btn btn-warning btn-lg text-white btn-block d-flex align-items-center justify-content-center">ALIŞVERİŞE
                        BAŞLA <i class="fa fa-angle-right ml-3"></i></a>
                </div>
            </div>
            {% else %}
                {% for order in orders %}
                    <div class="order-box">
                        <div class="infos-holder">
                            <div>
                                <div class="font-weight-normal mb-2">Sipariş No: <span class="text-warning">{{ order.increment_id }}</span></div>
                                <div class="font-weight-normal mb-2">Sipariş Tarihi: <span class="text-warning">{{ order.created_at | date('d.m.Y H:i') }}</span></div>

                                <div class="font-weight-normal">Alıcı: <span class="text-warning mr-3">{{ order.shipping_address_info.firstname }} {{ order.shipping_address_info.lastname }}</span> Toplam: <span class="text-warning">{{ order.base_grand_total | price }}</span></div>
                            </div>
                            <a href="order?id={{ order.entity_id }}" class="btn orange">SİPARİŞ DETAYI <i class="svg-order-detail svg-order-detail-dims"></i></a>
                        </div>
                        <div class="status-holder">
                            <div class="order-status">
                                <div class="status-date mr-4 hidden">
                                    <div class="status d-flex align-items-center font-weight-normal mb-2">
                                        <i class="{{ icon_status_list[order.status] }} mr-2"></i> <span class="{% if order.status == 'order_canceled' or order.status == 'canceled' %} text-danger {% else %} text-success {% endif %} mr-3">{{ status_list[order.status] }}</span>
                                        <!--<span class="date">TESLİMAT TARİHİ: {{ order.shipping_status.ekol_date is empty ? "" : order.shipping_status.ekol_date | date('d.m.Y')}}</span>-->
                                    </div>
                                </div>
                                <ul class="products mb-3">
                                    {% for product in order_detail[order.entity_id] %}
                                        <li><a href="{{ product.url_key }}"><img src="{{ product.image }}" alt=""></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                       <!-- <div class="text-right">
                            <a href="javascript:;" class="btn outline-gray">KOLAY İADE <i class="svg-order-return svg-order-return-dims"></i></a>
                        </div> -->
                    </div>
                {% endfor %}
                {{ pagination(current_page, total_count, limit, 1, (original_request_url), activeFilters, 'pagination-lg justify-content-center') }}
            {% endif %}
        </div>
    </div>
</main>