<script src='https://www.google.com/recaptcha/api.js?hl=tr'></script>
<main role="main">
    <div class="login-page-wrapper">
        <div class="page-title-bar">
            <a href="/" class="go-back-link">
                <i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i>
            </a>
            <h1>ÜYE OL / HESAP OLUŞTUR</h1>
        </div>
        <div class="form-holder p-0">
            <form id="customer-register-form" action="#"
                  class="register-form" method="POST">
                <div class="p-4">


                    <div class="form-group animated">
                        <label>Adınız</label>
                        <input type="text" name="first_name" class="form-control input_ucfirst">
                    </div>
                    <div class="form-group animated">
                        <label>Soyadınız</label>
                        <input type="text" name="last_name" class="form-control input_ucfirst">
                    </div>
                    <div class="form-group animated">
                        <label>Eposta Adresiniz</label>
                        <input type="text" name="email" class="form-control input_lowercase">
                    </div>
                    <div class="form-group phone-input">
                        <label>Telefon Numaranız</label>
                        <input type="tel" name="phone" class="form-control phones flo-theme  inputmask"
                               placeholder="0 (5 _ _ ) _ _ _  _ _  _ _"
                               data-inputmask="'mask': '0(599)-9999999'">
                    </div>
                    <div class="form-group password-input animated">
                        <label>Şifreniz</label>
                        <input type="password" name="password" class="form-control">
                        <a href="javascript:;">Göster</a>
                    </div>
                    <div class="gender-choice mb-3">
                        <div class="title">Cinsiyetinizi seçiniz</div>
                        <label class="flo-radio">
                            <input type="radio" class="new-radio validate[required]" value="2" name="gender"
                                   checked>
                            <i></i>
                            <span>Kadın</span>
                        </label>
                        <label class="flo-radio">
                            <input type="radio" class="new-radio validate[required]" value="1" name="gender"
                                   checked>
                            <i></i>
                            <span>Erkek</span>
                        </label>
                    </div>
                    <div class="checkboxes">

                        {% for aggrement in aggrements %}
                            <label class="flo-checkbox">
                                <input type="checkbox" autocomplete="off" name="{{ aggrement.alias }}"
                                       value="{{ aggrement.aggrement_id }}"
                                       class="{{ aggrement.alias }} {% if  aggrement.alias == 'uyelik_sozlesmesi' or aggrement.alias == 'subscribed_kvkk' %} validate[required] {% endif %}">
                                <span><i class="fa fa-check"></i></span>
                                <div class="text-holder">
                                    {{ aggrement.front_text|raw }}
                                </div>

                            </label>
                        {% endfor %}

                    </div>
                    {% if re_captcha.active == true and rf_post_time >= re_captcha.fail_num %}
                        <div class="field">
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="{{ re_captcha.site_key }}"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-warning btn-lg btn-block text-uppercase">Üye Ol <i
                            class="fa fa-angle-right font-weight-bold ml-2"></i></button>
                <button type="button"
                        class="btn btn-info btn-lg btn-block facebook-login-button  facebook-login text-uppercase"><i
                            class="fab fa-facebook-f"></i> Facebook ile Üye Ol <i
                            class="fa fa-angle-right font-weight-bold ml-2"></i></button>
            </form>

        </div>
    </div>
</main>

{{ widget('social', 'facebook') }}