{% if(footer_desc is not empty) %}
<div class="footer-content">
    <div class="container">
        <div class="holder">
            {{ footer_desc | raw }}
        </div>
        <div class="text-center">
            <a href="javascript:;" class="read-more">
                <i class="svg-arrow-up svg-arrow-up-dims"></i>
                <span>DEVAMI</span>
                <i class="svg-arrow-down svg-arrow-down-dims"></i>
            </a>
        </div>


    </div>
</div>
{% endif %}


<footer class="site-footer lazy">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-sm-7">
                    <div class="widgets-holder">
                        <div class="footer-widget">
                            <h5>Müşteri Hizmetleri</h5>
                            <ul class="footer-links">
                                <li><a href="/kampanyalar">{{ 'Kampanyalar' | translate }}</a></li>
                                <li><a href="/page?url=sss-desktop">{{ 'Sıkça Sorulan Sorular' | translate }}</a></li>
                                <li><a href="/page?url=sss-desktop-uyelik&tab=uyelik">Üyelik İşlemleri</a></li>
                                <li><a href="/page?url=sss-desktop-iade&tab=iade">{{ 'İade ve Değişim' | translate }}</a></li>
                                <li><a href="/iletisim" rel="nofollow">Yardım</a></li>
                                <li><a href="/tuketici-yasasi" rel="nofollow">Tüketici Yasası</a></li>
                                <li><a href="/page?url=gizlilik-ve-cerez" rel="nofollow">{{ 'Gizlilik ve Çerez Politikası' | translate }}</a></li>
                                <li><a href="/page?url=kisisel-verilerin-korunmasi" rel="nofollow">{{ 'Kişisel Verilerin Korunması' | translate }}</a></li>
                                <li><a href="/page?url=tikla-gel-al" rel="nofollow">Tıkla Gel Al</a></li>
                                <li><a href="/sevdiklerinize-hediyeler">{{ 'Hediye' | translate }}</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget">
                            <h5>Kurumsal</h5>
                            <ul class="footer-links">
                                 <li><a href="http://kurumsal.flo.com.tr/" rel="nofollow">{{ 'Kurumsal' | translate }}</a></li>
                                <li><a href="/magaza">{{ 'Mağazalarımız' | translate }}</a></li>
                                <li><a target="_blank" href="/page?url=ik-politikamiz" rel="nofollow">İnsan Kaynakları</a></li>
                                <li><a href="/page?url=kurumsal-iletisim">{{ 'İletişim' | translate }}</a></li>
                                <li class="logged-out"><a href="/guest-order-verify">{{ 'Sipariş Takibi' | translate }}</a></li>
                                <li ><a href="/turuncu-bagcik">{{ 'Turuncu Bağcıklar' | translate }}</a></li>
                                <li ><a href="http://flotomic.com/">{{ 'Flotomic' | translate }}</a></li>
                            </ul>
                            <a target="_blank" rel="nofollow" href="https://play.google.com/store/apps/details?id=com.flo.ayakkabi" class="d-block mb-3">
                                <img src="/pub/media/lazyloading/blank.png" data-src="/pub/assets/flo/img/google-play.png" alt="">
                            </a>
                            <a target="_blank" rel="nofollow" href="https://app.adjust.com/ezo46eq?deep_link=flo://home" class="d-block mb-3">
                                <img src="/pub/media/lazyloading/blank.png" data-src="/pub/assets/flo/img/appstore.png" alt="">
                            </a>
                        </div>
                        <div class="footer-widget">
                            <h5>Takip Edin</h5>
                            <ul class="footer-links">
                                <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/floayakkabi">Facebook</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://twitter.com/floayakkabi">Twitter</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://tr.pinterest.com/flomagazacilik/">Pinterest</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://www.instagram.com/floayakkabi/">Instagram</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://www.flo.com.tr/blog/">FLO Blogger</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="footer-icons">
                        <div class="icon-box">
                            <div class="icon-holder">
                                <i class="svg-cash svg-cash-dims"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Kapıda Nakit Ödeme</h5>
                                <div class="description">İnternetten ayakkabı alışverişi flo.com.tr ile çok kolay.</div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <div class="icon-holder">
                                <i class="svg-change svg-change-dims"></i>
                            </div>
                            <div class="text-holder">
                                <h5>60 Gün İade</h5>
                                <div class="description">flo.com.tr’den almış olduğunuz ve hiç kullanmadığınız ürünleri<br> 60 gün içerisinde iade edebilirsiniz</div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <div class="icon-holder">
                                <i class="svg-free-shipping svg-free-shipping-dims"></i>
                            </div>
                            <div class="text-holder">
                                <h5>Kargo Bedava</h5>
                                <div class="description">flo.com.tr'den yapacağınız 150 TL ve üzeri alışverişlerinizde KARGO BEDAVA</div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <div class="icon-holder">
                                <i class="svg-call-center svg-call-center-dims"></i>
                            </div>
                            <div class="text-holder">
                                <h5>0850 290 3 356</h5>
                                <div class="description">Müşteri hizmetlerimiz çağrılarınıza haftanın 7 günü<br>
                                    09.00 - 19.00 saatleri arasında hizmet vermektedir.</div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <div class="icon-holder">
                                <i class="svg-healthy svg-healthy-dims"></i>
                            </div>
                            <div class="text-holder">
                                <h5>FLO Sağlıklı Ayakkabı</h5>
                                <div class="description">FLO sağlığınızı düşünür. Rahat oldukları kadar ayak sağlığınızı düşünen<br>
                                    5 nokta teknolojisi sadece FLO&apos;da.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-logos">
                <img src="/pub/media/lazyloading/blank.png" data-src="/pub/assets/flo/img/footer-payment.svg" alt="FLO">
                <img src="/pub/media/lazyloading/blank.png" data-src="/pub/assets/flo/img/footer-cards.svg" alt="FLO">
            </div>
        </div>
    </div>
    <div class="copyright">
        © 2019 FLO.COM.TR. TÜM HAKLARI SAKLIDIR.
    </div>
</footer>
