<footer>
    <div class="container-fluid">
        <div class="footer-menu">
            <div class="mc-md-8 mc-sm-12  pa">
                <div class="list">
                    <ul>
                        <li class="head">{{ 'MÜŞTERİ HİZMETLERİ' | translate }}</li>
                        <li><a href="/page?url=contact">{{ 'İletişim' | translate }}</a></li>
                        <li><a href="/page?url=faq-delivery">{{ 'Teslimat ve İade' | translate }}</a></li>
                        <li><a href="/page?url=faq">{{ 'Sıkça Sorulan Sorular' | translate }}</a></li>
                        <li><a href="/page?url=terms-of-use">{{ 'Kullanıcı Sözleşmesi' | translate }}</a></li>
                        <li><a href="/page?url=cookies-policy">{{ 'Gizlilik ve Çerez Politikası' | translate }}</a></li>
                        <li><a href="/page?url=privacy-policy">{{ 'Kişisel Verilerin Korunması' | translate }}</a></li>
                    </ul>
                    <ul>
                        <li class="head">{{ 'INSTREET HAKKINDA' | translate }}</li>
                        <li><a href="/page?url=about-us">{{ 'Hakkımızda' | translate }}</a></li>
                        <li><a href="http://www.hepsneaker.com/?utm_source=sportinstreet&utm_medium=website&utm_campaign=footer" target="_blank">{{ 'Blog' | translate }}</a></li>
                        <li><a href="https://www.yumpu.com/tr/document/fullscreen/59411604/sport-in-street-lookbook" target="_blank">{{ 'Lookbook' | translate }}</a></li>
                        <li><a href="/franchise-form" target="_blank">{{ 'Be Our Franchise' | translate }}</a></li>
                        <li><a href="/distributor-form" target="_blank">{{ 'Be Our Distributor' | translate }}</a></li>
                        <li><a href="/wholesaler-form" target="_blank">{{ 'Be Our Wholesaler' | translate }}</a></li>
                    </ul>
                    <ul>
                        <li class="head">{{ 'TAKİP EDİN' | translate }}</li>
                        <li><a target="_blank" href="https://www.facebook.com/floayakkabi/"><i
                                        class="fa fa-facebook"></i><em>/floayakkabi</em></a></li>
                        <li><a target="_blank" href="https://twitter.com/floayakkabi"><i class="fa fa-twitter"></i><em>/floayakkabi</em></a>
                        </li>
                        <li><a target="_blank" href="https://www.youtube.com/user/floayakkabi"><i
                                        class="fa fa-youtube"></i><em>/floayakkabi</em></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/floayakkabi/?hl=tr"><i
                                        class="fa fa-instagram"></i><em>/floayakkabi</em></a></li>
                    </ul>
                </div>
            </div>
            <div class="mc-md-4 mc-sm-12 pa">
                <div class="bulten">
                    <b>{{ 'E-BÜLTENİMİZE ÜYE OLUN <i>%s TL KAZANIN</i>' | translate  | format('25') | raw }}</b>
                    <form id="newsletter-subscription">
                        <div class="form-group">
                            <input type="email" name="email" class="validate[required]">
                        </div>
                        <div class="submitButton">
                            <input type="submit" value="{{ 'GÖNDER' | translate}}">
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="icheckbox_square_gold new-checkbox">
                                    <input type="checkbox" name="{{ aggrement.alias }}" value="{{ aggrement.aggrement_id }}" class="{{ aggrement.alias }} validate[required]">
                                </div>
                                <em>{{ aggrement.front_text|raw }}
                                </em>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-logo">
                <div class="copy" style="margin: 10px 0 0 0;">
                    {{ 'InStreet 2019 I Tüm hakları saklıdır.' | translate }}
                </div>
                <div class="logos">

                    <img src="/pub/assets/floshoes/images/odeme_bant-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
