<main role="main">
<div class="product-list-page">
    <ul class="breadcrumbs">
        <li>
            <a href="/">
                <i class="svg-home svg-home-dims"></i>
            </a>
        </li>

        {% for cat in breadcrumb %}
            <li>
                <a href="/{{ cat.url }}{{ cat.query_string }}"
                    class="{% if cat.selected==1 %} active{% endif %}">{{ cat.name | translate | title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="container">
        <div class="title-bar">
            <div class="h1_silider_container">
                <div class="h1_silider">
                    <h1 class="h1_label">{{ registry('head_one')|default('FLO') }}</h1>
                </div>
            </div>
            <div class="product-count">{{ total_count }} {{ 'Ürün Bulundu' | translate }}</div>
        </div>

		{% if products|length == 0 %}
			<div class="whitepage w-100 not-found">
				{% if q is empty %}
					<p>{{ 'İlgili kategori ile ilgili sonuç bulunamamıştır.' | translate }}</p>
				{% else %}
					<p><strong>{{ q }} </strong>{{ 'ile ilgili sonuç bulunamamıştır.' | translate }}</p>
				{% endif %}
			</div>
		{% else %}
        <div class="filter-buttons">
            <a href="javascript:;" class="filter-button">
                <i class="svg-filter svg-filter-dims"></i> {{ 'Filtrele' | translate }} (&nbsp;<span class="text-danger">{{ filter_count }}</span>&nbsp;)
            </a>
            <a href="javascript:;" class="sort-button"><i class="svg-sort svg-sort-dims"></i> {{ 'Sırala' | translate }}</a>
			<button value="{{ gorunum }}" class="change-grid gorunum"><i class="svg-grid svg-grid-dims"></i></button>
        </div>
        <div class="product-grid product-lists {% if gorunum == '2' %}one-column{% endif %}">
            <div class="row">

                {% set products_count = products|length %}

                {% for product in products %}
                    <div class="product-wrapper">
                        {{ include('themes/flo/widgets/products/_element/list', {product: product,free_shipping_limit:free_shipping_limit,categoryId: category_id,manufacturerId: manufacturer_id,gender: gender_general,query: q}) }}
                    </div>

                    {# {% if loop.index == (products_count * 4 / 5)|round(0, 'ceil') %}
                        <a class="commerce-load-more-button"
                            data-params="page={{ current_page + 1 }}"></a>
                    {% endif %} #}
                {% endfor %}

            </div>

			{% set activeFilters = '' %}
			{% if q != empty %}
				{% set activeFilters = activeFilters ~ '&q=' ~ q %}
			{% endif %}

			{% if active_sorting != empty %}
				{% set activeFilters = activeFilters ~ '&sort=' ~ active_sorting %}
			{% endif %}

			{% for key, value in queries %}
				{% set activeFilters = activeFilters ~ '&'~ key ~'=' ~ value %}
			{% endfor %}

			{% if aggregations['price'].min %}
				{% set activeFilters = activeFilters ~ '&min=' ~ aggregations['price'].min %}
			{% endif %}

			{% if aggregations['price'].max %}
				{% set activeFilters = activeFilters ~ '&max=' ~ aggregations['price'].max %}
			{% endif %}

			{{ pagination(current_page, total_count, limit, 1, (original_request_url), activeFilters) }}
        </div>

		{% endif %}
    </div>


    <div class="filter-form" id="commerce-product-list">
        <div class="form-holder">
            <a href="javascript:;" class="close-filter-form"><i class="svg-close-white svg-close-white-dims"></i></a>
            <div class="title-bar">
                <i class="svg-filter-white svg-filter-white-dims mr-2"></i> {{ 'Filtrele' | translate }}
            </div>
            <form action="#" class="category_filters" id="mobile-filter-form">

                <div class="selected-filters">
                {% if active_filters %}
					{% for filter in active_filters %}
						<a href="javascript:;" class="selected-filter remove-filter" data-filter-value="{{ filter.value }}">
							<span class="closer">X</span> {{ filter.name }}
						</a>
					{% endfor %}

					<a href="javascript:;" class="form-reset-button clearfilt"><span class="closer">X</span> Tümünü Temizle</a>
                {% endif %}
                </div>


                {% for aggregation in aggregation_orders %}
                    {% if aggregations[aggregation.alias] %}
                        {{ include("themes/flo/widgets/products/_filters/" ~ aggregation.type, { aggregations: aggregations[aggregation.alias], filter: aggregation, filters: filters, collapseHide: true}) }}
                    {% endif %}
                {% endfor %}

                <button type="submit" class="btn btn-danger btn-lg btn-block submit-button">UYGULA</button>
            </form>
        </div>
    </div>
    <div class="sort-form">
        <form action="/">
            {% for sorting in sorting_options %}
                <label class="sort-select commerce-sort-order {% if sorting.key == active_sorting and sorting.key != '' %} active{% endif %}" data-sort="{{ sorting.key }}">
                    <input type="radio" name="sort-choice" {% if sorting.key == active_sorting %}checked{% endif %}>
                    <span>{{ sorting.value | translate }}
					
						{% if sorting.key == "filter_price:asc" %}
							<i class="fa fa-arrow-down"></i>
						{% endif %}

						{% if sorting.key == "filter_price:desc" %}
							<i class="fa fa-arrow-up"></i>
						{% endif %}
					</span>
                </label>
            {% endfor %}
        </form>
    </div>
</div>

    </main>

{# {% if current_page > 1 %}
    {{ widget('datalayer', q is empty ? 'category_scroll' : 'search_scroll', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q }} ) }}
{% else %}
    {{ widget('datalayer', q is empty ? 'category' : 'search', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q }} ) }}
{% endif %} #}

{{ widget('datalayer', q is empty ? 'category' : 'search', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q, queries:queries, original_request_url: original_request_url, gorunum: gorunum, sorting_options: sorting_options, active_sorting: active_sorting, activePage: current_page}} ) }}

<script type="application/ld+json"> 
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{% for item in breadcrumb %}
		{
			"@type": "ListItem",
			"position": {{ loop.index }},
			"item": {
				"@id": "{{ config('env.webservice.url.web') }}{{ item.url }}", "name ": "{{ item.name }}"
			}
		}{% if loop.last != true %},{% endif %}
		{% endfor %}
	]
}
</script>

<a href="#" class="back-to-top">
	<i class="fa fa-angle-up"></i>
</a>

{# <input type="hidden" class="widget_params" name="widget_params"
       value="manufacturer_id={{ manufacturer_id }}&category_id={{ category_id }}&gender_general={{ gender_general }}&special_price={{ special_price }}&q={{ q }}&sort={{ active_sorting }}"/>
{% if load_more %}
    {% set products_count = products|length %}
    {% for product in products %}
        <div class="product-container pa {% if gorunum=='2' %} mc-md-6 mc-xs-12
{% else %} mc-md-4 mc-xs-6
{% endif %}">
            {{ include('widgets/products/_element/list', {product: product,free_shipping_limit:free_shipping_limit}) }}
        </div>

        {% if loop.index == (products_count * 4 / 5)|round(0, 'ceil') %}
            <div class="commerce-load-more-button" data-params="page={{ current_page + 1 }}"></div>
        {% endif %}
    {% endfor %}

    {{ widget('datalayer', q is empty ? 'category_scroll' : 'search_scroll', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q }} ) }}
{% else %}
    <div class="page long-header">
        <div class="top-to">
            <img src="/pub/assets/instreet/mobile/images/backto.jpg" alt="">
        </div>
        <div class="container-fluid">
            {% if total_count==0 %}
            <div class="whitepage not-found">
                <p><strong>{{ q }}</strong>{{ 'ile ilgili sonuç bulunamamıştır.' | translate }}</p>
            </div>
            {% else %}
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="/">
                            <img src="/pub/assets/instreet/images/home.png">
                        </a>
                    </li>
                    {% for cat in mob_breadcrumb %}
                        <li>
                            <a href="/{{ cat.url }}{{ cat.query_string }}"
                               class="{% if cat.selected==1 %} active{% endif %}">{{ cat.name | translate | upper_tr }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="right">
                    <span>{{ total_count }} {{ 'Ürün Var' | translate }}</span>
                </div>
            </div>
            <div class="page-content">
                <div class="product-list">

                    <form id="commerce-product-list">
                        <div class="h1_silider">
                        </div>
                        {# <div class="right">
                            <span>{{ total_count }} {{ 'Ürün Var' | translate }}</span>
                        </div>
                        <div class="filter">
                            <div class="filt">
                                <div class="mc-md-4 mc-xs-4 pa">
                                    <button class="toggle-box" onclick="filt()">{{ 'FİLTRELE' |translate }}</button>
                                    <div class="filter-box category_filters">
                                        <div class="box">
                                            <div class="top-filt">
                                                <div class="top-title back-filt" onclick="subFilt()"><img
                                                            src="/pub/assets/instreet/mobile/images/ic_keyboard_arrow_right_24px.svg"
                                                            alt="">
                                                </div>
                                                <div class="top-title">Filtrele</div>
                                                {% if active_filters %}
                                                    <div class="top-title remove-filter-all">
                                                        <ins>x</ins>
                                                        Temizle
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% if active_filters %}
                                                <div class="active-box">
                                                    <ol>
                                                        {% for filter in active_filters %}
                                                            <li class="active-filters">
                                                                <a class="remove-filter" href="javascript:void(0);"
                                                                   data-filter-value="{{ filter.value }}">
                                                                    <i class="closes"></i>
                                                                </a>
                                                                <em>{{ filter.name }}</em>
                                                            </li>
                                                        {% endfor %}
                                                    </ol>
                                                </div>
                                            {% endif %}

                                            <div class="form " id="filters">
                                                {% for aggregation in aggregation_orders %}
                                                    {% if aggregations[aggregation.alias] %}
                                                        {{ include("widgets/products/_filters/" ~ aggregation.type, { aggregations: aggregations[aggregation.alias], filter: aggregation, filters: filters}) }}
                                                    {% endif %}
                                                {% endfor %}

                                                <div class="submit" onclick="subFilt()">
                                                    <button class="apply-button">{{ 'UYGULA' |translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mc-md-4 mc-xs-4 pa">
                                    <button class="toggle-box">{{ 'SIRALA' |translate }}</button>
                                    <div id="commerce-sort-order-container" class="select">
                                        <!--    <input id="commerce-sort-order" type="hidden" name="sort" value=""> -->
                                        <ul>
                                            {% for sorting in sorting_options %}
                                                <li>
                                                    <a class="commerce-sort-order" href="#"
                                                       data-sort="{{ sorting.key }}">{{ sorting.value | translate }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="mc-md-4 mc-xs-4 pa">
                                    <button value="1" class="gorunum">{{ 'GÖRÜNÜM' |translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="lest-as">
                            <div class="list product-lists one commerce-load-more">
                                {% set products_count = products|length %}

                                {% for product in products %}
                                    <div class="product-container pa mc-md-4 mc-xs-6">
                                        {{ include('widgets/products/_element/list', {product: product,free_shipping_limit:free_shipping_limit}) }}
                                    </div>

                                    {% if loop.index == (products_count * 4 / 5)|round(0, 'ceil') %}
                                        <a class="commerce-load-more-button"
                                           data-params="page={{ current_page + 1 }}"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ widget('datalayer', q is empty ? 'category' : 'search', {layerData: {productList: products, categoryList: breadcrumb, categoryId: category_id, totalCount: total_count, query: q }} ) }}
{% endif %}
{% if(footer_desc is not empty) %}
    <div class="container-fluid">
        <div class="mobile-footer-description">{{ footer_desc | raw }}</div>
    </div>
{% endif %} #}
