<header class="site-head elmnt">
    <a href="{{ header_bant.link }}" class="">
        {{ img( header_bant.image_desktop, '', {   cdn: 'general',class:'top-text' }) }}
    </a>

    <div class="container-fluid">
        <div class="top elmnt">

			<ul class="top-menu-help-links">
				<li>
					<a class="logged-in hide" href="/customer/orders">Sipariş Takibi</a>
					<a class="logged-out" href="/guest-order-verify">Sipariş Takibi</a>
				</li>
				
				<li><a href="/page?url=sss">Yardım ve Destek</a></li>
			</ul>

            <div class="mobile-btn">
                <button type="button" class="navbar-toggle" onclick="javascript: mobileMenuOpen(this)">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="logo h1_product_list">
                <a href="/"><img src="/pub/assets/instreet/images/logo.png" alt="InStreet"></a>
            </div>
            <div class="search">
                <form action="/search" class="search-form">
                    <div class="form-group">
                        <input class="commerce-autocomplete" type="text" name="q" value="{{ search_query }}" autocomplete="off" placeholder="{{ '42 Numara Kinetix' | translate }}">
                    </div>
                    <div class="submit">
                        <input type="submit">
                    </div>
                </form>
            </div>
            {{ widget('products', 'autocomplete') }}

            <div class="new-card menu-drop">
                <ul><li> <div id="commerce-mini-cart-icon" class="basket-button ">
                            <a href="javascript:void(0)" class="new-icon">
                                <img src="/pub/assets/instreet/images/big-basket.png" class="" alt="">
                                <i class="cart-count"></i>
                                <br>
                                {{ 'Sepetim' | translate }}
                            </a>
                            <ul id="mini-cart" class="lab-list">
                                {{ widget('basket', 'mini_cart') }}
                            </ul>
                        </div></li></ul>

            </div>

            <div class="new-login menu-button login menu-drop logged-out">

                <ul>
                    <li>
                        <a class="login-register" >
                            <img src="/pub/assets/instreet/images/ic_account_circle.svg" class="" alt="">
<br>
                            {{ 'Giriş Yap' | translate }}
                        </a>
                <ul>
                    <li>
                        <a class="customer-login">{{ 'Giriş Yap' | translate }}</a>

                    </li>
                    <li>
                        <a class="customer-login-register">{{ 'Üye Ol' | translate }}</a>

                    </li>
                </ul>
                    </li>
                </ul>
            </div>


                <div class="new-login menu-button login menu-drop logged-in hide">
                    <ul>
                        <li>
                            <a class="login-register" href="javascript:void(0);">


                                <img src="/pub/assets/instreet/images/ic_account_circle.svg" class="" alt="">
                                <br>
                                {{ 'Hesabım' | translate }}
                            </a>
                            <ul class="account-links">
                                <li>
                                    <span id="full-name-login"  ></span>
                                </li>
                                <li>
                                  <div class="acoount-links-img"> <img src="/pub/assets/instreet/images/icon_siparislerim_s.svg"> </div>  <a href="/customer/orders">{{ 'Siparişlerim' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">    <img src="/pub/assets/instreet/images/icon_kisisel_bilgilerim_s.svg"> </div>    <a href="/customer/edit">{{ 'Kişisel Bilgilerim' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">    <img src="/pub/assets/instreet/images/icon_adreslerim_s.svg"> </div>    <a href="/customer/password-edit">{{ 'Şifremi Değiştir' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">    <img src="/pub/assets/instreet/images/icon_haber_bulteni_s.svg"> </div>   <a href="/customer/subscriptions">{{ 'Haber Bülteni Üyeliklerim' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">   <img src="/pub/assets/instreet/images/icon_adreslerim_s.svg"> </div>  <a href="/customer/address/index">{{ 'Adreslerim' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">   <img src="/pub/assets/instreet/images/icon_kayitli_kartlarim_s.svg"> </div>    <a href="/customer/savedcard/index">{{ 'Kayıtlı Kartlarım' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">   <img src="/pub/assets/instreet/images/icon_kayitli_kuponlarim_s.svg"> </div>     <a href="/customer/coupons">{{ 'Kayıtlı Kuponlarım' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">   <img src="/pub/assets/instreet/images/icon_favori_listem_s.svg"> </div>   <a href="/customer/wishlist">{{ 'Favori Listem' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">  <img src="/pub/assets/instreet/images/icon_stok_alarm_s.svg"> </div>   <a href="/stock/index">{{ 'Stok Alarmları' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">  <img src="/pub/assets/instreet/images/icon_musteri_hizmetleri_s.svg"> </div>  <a href="/ticket/list">{{ 'Müşteri Hizmetleri' | translate }}</a>
                                </li>
                                <li>
                                    <div class="acoount-links-img">  <img src="/pub/assets/instreet/images/icon_cikis_s.svg"> </div>   <a class="customer-logout" href="">{{ 'ÇIKIŞ' | translate }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="menu">
            <div class="menulist">
                {{ menuHtml|raw }}
            </div>
        </div>
    </div>
</header>
