<div id="bedentablosu" style="display: none;">
    <div class="content-beden">
        <h3>{{ 'BEDEN TABLOSU' | translate }}</h3>
        <table class="bedenTablosu">
            <tbody>
            <tr class="t-head">
                <td>{{ 'CM' | translate }}</td>
                <td>{{ 'EUROPE' | translate }}</td>
                <td>{{ 'UK/AUSTRALIA' | translate }}</td>
                <td>{{ 'US/CANADA' | translate }}</td>
            </tr>
            <tr>
                <td>22.8</td>
                <td>35</td>
                <td>2.5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>23.5</td>
                <td>36</td>
                <td>3 / 3.5</td>
                <td>5.5 / 6</td>
            </tr>
            <tr>
                <td>23.8</td>
                <td>37</td>
                <td>4</td>
                <td>6.5</td>
            </tr>
            <tr>
                <td>24.5</td>
                <td>38</td>
                <td>4.5</td>
                <td>7</td>
            </tr>
            <tr>
                <td>25.1</td>
                <td>39</td>
                <td>5 / 5.5</td>
                <td>7.5 / 8</td>
            </tr>
            <tr>
                <td>25.4</td>
                <td>40</td>
                <td>6</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td>25.7</td>
                <td>41</td>
                <td>6.5 / 7</td>
                <td>9 / 9.5</td>
            </tr>
            <tr>
                <td>26</td>
                <td>42</td>
                <td>7.5</td>
                <td>10</td>
            </tr>
            <tr>
                <td>26.7</td>
                <td>43</td>
                <td>8 / 8.5</td>
                <td>10.5</td>
            </tr>
            <tr>
                <td>27.3</td>
                <td>44</td>
                <td>9.5</td>
                <td>11 / 12</td>
            </tr>
            <tr>
                <td>27.9</td>
                <td>45</td>
                <td>10 / 10.5</td>
                <td>12.5 / 13</td>
            </tr>
            <tr>
                <td>28.3</td>
                <td>46</td>
                <td>11 / 11.5</td>
                <td>13.5 / 14</td>
            </tr>
            <tr>
                <td>28.9</td>
                <td>47</td>
                <td>12</td>
                <td>14.5 / 15</td>
            </tr>
            </tbody>
        </table>
        <div class="ayakOlcusu">
            <span class="h2">{{ 'DOĞRU AYAK ÖLÇÜSÜ ALMA' | translate }}</span>
            <img src="/pub/assets/instreet/mobile/images/ayak.png">
            {{ '<p>Eğer ayak numaranızdan emin değilseniz basit yöntemlerle ayak numaranızı
                öğrenebilirsiniz.</p>
            <p>Boş bir kağıdı yere koyun, ayağınızı üstüne koyduktan sonra bir kalem yardımı
                ile şekildeki gibi ayak baş parmağınızın hizasından ve topuk uç hizanızdan
                düz şekilde çizin.</p>
            <p>Sonra çizgilerin arasındaki mesafeyi cetvel ile ölçün, çıkan sonuç sizin ayak
                uzunluğunuzdur.</p>
            <p>Yukarıdaki tablodan cinsiyetinizi seçtikten sonra, ayak uzunluğunuza uygun CM
                değerini seçtiğinizde, tablo size ayak uzunluğunuza karşılık gelen beden
                numaralarını gösterecektir.</p>' | translate | raw }}
        </div>
    </div>
</div>
