<div class="overlay"></div>
<div class="overlay2"></div>
<div class="page">
    <div class="container-fluid">
        <div class="page-content">
            <div class="whitepage">
                <div class="title orange">{{ 'ŞİFREMİ DEĞİŞTİR' | translate }}</div>
                <div class="content">
                    <div class="my-account-list">
                        <div class="form adress-ose">
                            <form method="POST" id="customer-password-form">
                                <div class="form-group">
                                    <input name="current_password" class="validate[required]" type="password" placeholder="{{ 'ESKİ ŞİFRENİZ' | translate }} *">
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" class="validate[required,minSize[5]]" placeholder="{{ 'YENİ ŞİFRENİZ' | translate }} *">
                                </div>
                                <div class="form-group">
                                    <input name="password_confirmation" class="validate[required,minSize[5]]" type="password" placeholder="{{ 'YENİ ŞİFRENİZ TEKRAR' | translate }}*">
                                </div>
                                <div class="note">* {{ 'Yıldızlı alanların girişi zorunludur.' | translate }}</div>

                                <div class="fixedbottom">
                                    <div class="linkto">
                                        <input type="submit" id="btn-password-save" value="{{ 'UYGULA' | translate }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>